<!DOCTYPE html>
<html>
	<head>
		<meta charset="gbk"/>
		<title>2013G客盛典 视频_播客_个人多媒体 土豆网</title>
		<meta name="Keywords" content="音乐频道,视频下载,体育视频,在线视频,免费视频,自拍,视频教学,网络视频"/>
		<meta name="Description" content="上传你的视频，观看海量视频节目。土豆热爱原创，每个人都是生活的导演，戴上土豆面具，每个人都是明星。"/>
		<link type="text/css" href="static/css/g.css" rel="stylesheet" />
		<link type="text/css" href="static/css/v.css" rel="stylesheet"/>

	</head>
	<body>	
		<!--顶部导航 -->
		<div class="g-top" id="gTop">
			<div class="g_main">
				<div class="g_main_c">
					<div class="logo">
						<a title="土豆网 tudou.com 每个人都是生活的导演" href="http://www.tudou.com">G客G拍</a>
					</div>
					<div class="g-search">
						<form action="http://www.soku.com/t/nisearch.do" method="get" searchtype="" target="_blank">
							<div class="g-search-box">
								<input class="g-search-text tui_searchint" type="text" accesskey="s" value="" name="kw" autocomplete="off" onfocus="this['_gs_focus']=1" onblur="this['_gs_focus']=0" />
							</div>
							<input class="g-search-submit" type="submit" value="搜索" />
							<input type="hidden" value="td.t" name="cid" disabled="disabled" />
						</form>
						<div class="g-extra">
							<ol class="g-hotwords">
								<li><a target="_blank" href="http://www.soku.com/t/nisearch/%E9%95%BF%E6%98%A5%E5%A9%B4%E5%84%BF/_cid_0_time__sort_score_display_album_high_0#">众星哀悼长春婴儿</a></li>
								<li><a target="_blank" href="http://www.soku.com/t/nisearch/%E6%98%8E%E6%98%9F%E5%A7%94%E5%91%98/_cid_1_time__sort_date_display_album_high_0#">明星委员</a></li>
							</ol>
						</div>
					</div>
					<ul class="g-user" id="uInfo">
						<li class="g-viewlist view_record" id="viewRecordNav">
							<span class="handle"><b class="view_icon"> </b><a href="http://www.tudou.com/my/programs/watched.html#watched">观看历史</a></span>
							<div class="g-viewlist-nav" id="viewRecordWrap">
								<div class="sub_tp"></div>
								<div class="sub_bd">
									<p id="viewRecordNotify" class="viewRecord_notify" style="display: none;"><img src="http://css.tudouui.com/skin/__g/img/loading3.gif">
									</p>
									<div id="viewRecordContainer" class="viewRecord_container" style="">
										<div class="viewRecord_item" iid="130785660">
											<div class="vr_row">
												<h6 class="vr_title"><a href="http://www.tudou.com/albumplay/0sGtHpKEGnE.html?resourceId=0_07_10_28" title="亡命驾驶" id="rv_nav_t_1_130785660_109074">亡命驾驶 </a></h6><a class="close" href="javascript:;" title="删除">×</a>
											</div>
											<div class="vr_row">
												<span class="info">观看至25分钟</span><a href="http://www.tudou.com/albumplay/0sGtHpKEGnE.html?lvt=1539&amp;resourceId=0_07_10_28" class="continue" id="rv_nav_c_1_130785660_109074">继续看</a>
											</div>
										</div>
										<div class="viewRecord_item" iid="162395820">
											<div class="vr_row">
												<h6 class="vr_title"><a href="http://www.tudou.com/listplay/QDs16qlr3UQ/YHSlKHrIyzI.html?resourceId=0_07_10_28" title="E15 YIF魔幻最终章现萌物" id="rv_nav_t_1_162395820_16272650">E15 YIF魔幻最终章现萌物 </a></h6><a class="close" href="javascript:;" title="删除">×</a>
											</div>
											<div class="vr_row">
												<span class="info">观看不足1分钟</span><a href="http://www.tudou.com/listplay/QDs16qlr3UQ/BGuCCGg7oQo.html?resourceId=0_07_10_28" class="continue" id="rv_nav_n_1_162395820_16272650">看下一个</a><a href="http://www.tudou.com/listplay/QDs16qlr3UQ/YHSlKHrIyzI.html?lvt=14&amp;resourceId=0_07_10_28" class="continue" id="rv_nav_c_1_162395820_16272650">继续看</a>
											</div>
										</div>
										<div class="viewRecord_item" iid="163246790">
											<div class="vr_row">
												<h6 class="vr_title"><a href="http://www.tudou.com/programs/view/sXvd2jWWkdo/?resourceId=0_07_10_28" title="自虐狂纵身扑向仙人掌 全身插满刺" id="rv_nav_t_1_163246790">自虐狂纵身扑向仙人掌 全... </a></h6><a class="close" href="javascript:;" title="删除">×</a>
											</div>
											<div class="vr_row">
												<span class="info">观看不足1分钟</span><a href="http://www.tudou.com/programs/view/sXvd2jWWkdo/?lvt=4&amp;resourceId=0_07_10_28" class="continue" id="rv_nav_c_1_163246790">继续看</a>
											</div>
										</div>
										<div class="viewRecord_item" iid="162582484">
											<div class="vr_row">
												<h6 class="vr_title"><a href="http://www.tudou.com/listplay/39Bbp2CUzAc.html?resourceId=0_07_10_28" title="《云图》中国热映 被删基情片段曝光" id="rv_nav_t_1_162582484_16813813">《云图》中国热映 被删基... </a></h6><a class="close" href="javascript:;" title="删除">×</a>
											</div>
											<div class="vr_row">
												<span class="info">观看不足1分钟</span><a href="http://www.tudou.com/listplay/39Bbp2CUzAc/U4kMcgksLXU.html?resourceId=0_07_10_28" class="continue" id="rv_nav_n_1_162582484_16813813">看下一个</a><a href="http://www.tudou.com/listplay/39Bbp2CUzAc.html?lvt=34&amp;resourceId=0_07_10_28" class="continue" id="rv_nav_c_1_162582484_16813813">继续看</a>
											</div>
										</div>
										<div class="viewRecord_item" iid="130774052">
											<div class="vr_row">
												<h6 class="vr_title"><a href="http://www.tudou.com/albumplay/p7bYGcXCEzs/6ZcKe--N6QA.html?resourceId=0_07_10_28" title="独生子女的婆婆妈妈-第8集" id="rv_nav_t_1_130774052_182124">独生子女的婆婆妈妈-第8集 </a></h6><a class="close" href="javascript:;" title="删除">×</a>
											</div>
											<div class="vr_row">
												<span class="info">观看不足1分钟</span><a href="http://www.tudou.com/albumplay/p7bYGcXCEzs/zxdFClKRa9s.html?resourceId=0_07_10_28" class="continue" id="rv_nav_n_1_130774052_182124">看下一个</a><a href="http://www.tudou.com/albumplay/p7bYGcXCEzs/6ZcKe--N6QA.html?lvt=9&amp;resourceId=0_07_10_28" class="continue" id="rv_nav_c_1_130774052_182124">继续看</a>
											</div>
										</div>
										<div class="viewRecord_item" iid="130782339">
											<div class="vr_row">
												<h6 class="vr_title"><a href="http://www.tudou.com/albumplay/tFPm41bew10/aNlG8mgQufI.html?resourceId=0_07_10_28" title="童话镇-第二季-第14集" id="rv_nav_t_1_130782339_89535">童话镇-第二季-第14集 </a></h6><a class="close" href="javascript:;" title="删除">×</a>
											</div>
											<div class="vr_row">
												<span class="info">观看不足1分钟</span><a href="http://www.tudou.com/albumplay/tFPm41bew10/aNlG8mgQufI.html?lvt=0&amp;resourceId=0_07_10_28" class="continue" id="rv_nav_c_1_130782339_89535">继续看</a>
											</div>
										</div>
										<div class="viewRecord_item" iid="130341283">
											<div class="vr_row">
												<h6 class="vr_title"><a href="http://www.tudou.com/oplay/SeVKLlU4-sU/i8bZp8cZrkY.html?resourceId=0_07_10_28" title="《杰克·理查尔》高清预告 Jack Reacher-HDtrailer" id="rv_nav_t_1_130341283_88958">《杰克·理查尔》高清预告... </a></h6><a class="close" href="javascript:;" title="删除">×</a>
											</div>
											<div class="vr_row">
												<span class="info">观看不足1分钟</span><a href="http://www.tudou.com/oplay/SeVKLlU4-sU/VWRAfLjYry8.html?resourceId=0_07_10_28" class="continue" id="rv_nav_n_1_130341283_88958">看下一个</a><a href="http://www.tudou.com/oplay/SeVKLlU4-sU/i8bZp8cZrkY.html?lvt=13&amp;resourceId=0_07_10_28" class="continue" id="rv_nav_c_1_130341283_88958">继续看</a>
											</div>
										</div>
										<div class="viewRecord_item" iid="162098247">
											<div class="vr_row">
												<h6 class="vr_title"><a href="http://www.tudou.com/programs/view/CvwG3zzhYnE/?resourceId=0_07_10_28" title="微电影《卖火柴的小女孩》" id="rv_nav_t_1_162098247">微电影《卖火柴的小女孩》 </a></h6><a class="close" href="javascript:;" title="删除">×</a>
											</div>
											<div class="vr_row">
												<span class="info">观看至1分钟</span><a href="http://www.tudou.com/programs/view/CvwG3zzhYnE/?lvt=65&amp;resourceId=0_07_10_28" class="continue" id="rv_nav_c_1_162098247">继续看</a>
											</div>
										</div>
									</div>
									<div id="viewRecordDo" class="viewRecord_do" style="display: block;">
										<a href="http://www.tudou.com/my/programs/afertLogInWatched.html#watched/?page=1&amp;sort=1&amp;desc=true&amp;save=true" id="viewRecordImport" class="import" style="">导入本地观看记录(14)</a><a class="more" href="http://www.tudou.com/my/programs/afertLogInWatched.html">更多&gt;&gt;</a>
									</div>
								</div>
							</div>
						</li>
						<li>
							<a href="reg.html" id="reg">注册</a>
						</li>
						<li>
							<a href="http://login.tudou.com/login.do?noreg=ok" id="loginDo">登录</a>
						</li>
					</ul><a class="g-upload" href="upload.html">上传视频</a>
				</div>
			</div>
			
			<div class="g_nav">
				<div class="g_nav_main">
					<ul class="g-nav-master" id="master">
						<li class="current">
							<a href="index.html">首页</a>
						</li>
						<li>
							<a href="upload.html">上传1</a>
						</li>
						<li>
							<a href="reg.html">注册</a>
						</li>
						<li>
							<a href="cate.html">作品检索页</a>
						</li>
						<li>
							<a href="list.html">上传列表页</a>
						</li>
						<li>
							<a href="home.html">个人主页</a>
						</li>
						<li><a href="play.html">播放页</a></li>
					</ul>
				</div>
			</div>
		</div>

		<!--页面主体 -->
		<div class="fr">
			<div class="cate-box">				
				<div class="category-filter">
					<div class="category-item ">
						<h3>发布时间：</h3>
						<ul>
							<li>
								<a href="#">全部</a>
							</li>
							<li class="current">
								<a href="#">最新</a>
							</li>
							<li>
								<a href="#">本周</a>
							</li>
							<li>
								<a href="#">本月</a>
							</li>
						</ul>
					</div>
					
					<div class="category-item ">
						<h3>地区</h3>
						<ul>
							<li class="current" >
								<a href="isc99a-1b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">全部</a>
							</li>
							<li>
								<a  href="isc99a268b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">重口</a>
							</li>
							<li>
								<a  href="isc99a269b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">经典</a>
							</li>
							<li>
								<a  href="isc99a270b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">新锐</a>
							</li>
							<li>
								<a href="isc99a-1b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html" >不限</a>
							</li>
							<li>
								<a  href="isc99a268b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">重口</a>
							</li>
							<li>
								<a  href="isc99a269b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">经典</a>
							</li>
							<li>
								<a  href="isc99a270b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">新锐</a>
							</li>
							<li>
								<a href="isc99a-1b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">不限</a>
							</li>
							<li>
								<a  href="isc99a268b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">重口</a>
							</li>
							<li>
								<a  href="isc99a269b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">经典</a>
							</li>
							<li>
								<a  href="isc99a270b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">新锐</a>
							</li>
							<li>
								<a  href="isc99a271b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">治愈</a>
							</li>
							<li>
								<a  href="isc99a272b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">本土</a>
							</li>
							<li>
								<a  href="isc99a273b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">泪奔</a>
							</li>
							<li>
								<a  href="isc99a274b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">热血</a>
							</li>
							<li>
								<a  href="isc99a275b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">怀旧</a>
							</li>
							<li>
								<a  href="isc99a276b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">脑补</a>
							</li>
							<li>
								<a  href="isc99a277b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">学院</a>
							</li>
							<li>
								<a  href="isc99a278b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">定格</a>
							</li>
							<li>
								<a  href="isc99a279b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">粘土</a>
							</li>
							<li>
								<a  href="isc99a280b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">实验</a>
							</li>
							<li>
								<a  href="isc99a281b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">音乐</a>
							</li>
						</ul>
					</div>
					
				
					<div class="category-item">
						<h3>演唱者：</h3>
						<ul>
							<li class="current">
								<a href="isc99a-1b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html" >全部</a>
							</li>
							<li>
								<a  href="isc99a-1b282c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">女歌手</a>
							</li>
							<li>
								<a  href="isc99a-1b283c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">男歌手</a>
							</li>
							<li>
								<a  href="isc99a-1b284c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">乐队/组合</a>
							</li>
							<li>
								<a  href="isc99a-1b285c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">群星</a>
							</li>
							<li>
								<a  href="isc99a-1b286c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">其他</a>
							</li>
						</ul>
					</div>
					<div class="category-item ">
						<h3>语言</h3>
						<ul>
							<li>
								<a href="isc99a-1b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">全部</a>
							</li>
							<li class="current" >
								<a  href="isc99a-1b-1c299d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">配音</a>
							</li>
							<li>
								<a  href="isc99a-1b-1c300d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">吐槽</a>
							</li>
							<li>
								<a  href="isc99a-1b-1c301d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">剪辑</a>
							</li>
							<li>
								<a  href="isc99a-1b-1c302d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">乱入</a>
							</li>
							<li>
								<a  href="isc99a-1b-1c303d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">鬼畜</a>
							</li>
						</ul>
					</div>
					<div class="category-item ">
						<h3>类型：</h3>
						<ul>
							<li>
								<a href="isc99a-1b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">不限</a>
							</li>
							<li class="current" >
								<a  href="isc99a-1b-1c-1d313e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">唯美</a>
							</li>
							<li>
								<a  href="isc99a-1b-1c-1d314e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">弹唱</a>
							</li>
							<li>
								<a  href="isc99a-1b-1c-1d315e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">校园</a>
							</li>
							<li>
								<a  href="isc99a-1b-1c-1d316e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">动画</a>
							</li>
							<li>
								<a  href="isc99a-1b-1c-1d317e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">创意</a>
							</li>
							<li>
								<a  href="isc99a-1b-1c-1d318e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">恶搞</a>
							</li>
							<li>
								<a  href="isc99a-1b-1c-1d319e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">逐帧</a>
							</li>
							<li>
								<a  href="isc99a-1b-1c-1d320e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">翻唱</a>
							</li>
							<li>
								<a  href="isc99a-1b-1c-1d321e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">原创音乐</a>
							</li>
							<li>
								<a  href="isc99a-1b-1c-1d322e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">个人才艺</a>
							</li>
						</ul>
					</div>
					<div class="category-item category-expand ">
						<h3>隐藏分类：</h3>
						<ul>
							<li class="current" >
								<a href="isc99a-1b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">不限</a>
							</li>
							<li>
								<a  href="isc99a-1b-1c-1d-1e323f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">养眼派</a>
							</li>
							<li>
								<a  href="isc99a-1b-1c-1d-1e324f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">创意派</a>
							</li>
							<li>
								<a  href="isc99a-1b-1c-1d-1e325f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">欢乐派</a>
							</li>
							<li>
								<a  href="isc99a-1b-1c-1d-1e326f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">研习派</a>
							</li>
							<li>
								<a  href="isc99a-1b-1c-1d-1e323f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">养眼派</a>
							</li>
							<li>
								<a  href="isc99a-1b-1c-1d-1e324f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">创意派</a>
							</li>
							<li>
								<a  href="isc99a-1b-1c-1d-1e325f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">欢乐派</a>
							</li>
							<li>
								<a  href="isc99a-1b-1c-1d-1e326f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">研习派</a>
							</li>
							<li>
								<a  href="isc99a-1b-1c-1d-1e323f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">养眼派</a>
							</li>
							<li>
								<a  href="isc99a-1b-1c-1d-1e324f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">创意派</a>
							</li>
							<li>
								<a  href="isc99a-1b-1c-1d-1e325f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">欢乐派</a>
							</li>
							<li>
								<a  href="isc99a-1b-1c-1d-1e326f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">研习派</a>
							</li>
							<li>
								<a  href="isc99a-1b-1c-1d-1e323f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">养眼派</a>
							</li>
							<li>
								<a  href="isc99a-1b-1c-1d-1e324f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">创意派</a>
							</li>
							<li>
								<a  href="isc99a-1b-1c-1d-1e325f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">欢乐派</a>
							</li>
							<li>
								<a  href="isc99a-1b-1c-1d-1e326f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">研习派</a>
							</li>
						</ul>
					</div>
					<div class="category-item category-expand ">
						<h3>隐藏选中：</h3>
						<ul>
							<li>
								<a href="isc99a-1b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">不限</a>
							</li>
							<li  class="current">
								<a  href="isc99a-1b-1c-1d-1e323f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">养眼派</a>
							</li>
							<li>
								<a  href="isc99a-1b-1c-1d-1e324f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">创意派</a>
							</li>
							<li>
								<a  href="isc99a-1b-1c-1d-1e325f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">欢乐派</a>
							</li>
							<li>
								<a  href="isc99a-1b-1c-1d-1e326f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p1.html">研习派</a>
							</li>
						</ul>
					</div>
					
					<div class="filter_more">
						<a href="#" hidefocus="true" id="filterToggle">展开</a>	
					</div>
					
				</div>	
					
								
				
				<div class="category-sort">
					<ul class="t">
						<li><span>排序方式</span></li>
						<li class="current">
							<a  href="isc99a-1b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o13p4h0p1.html"  >人气最旺</a>
						</li>
						<li>
							<a  href="isc99a-1b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o11p4h0p1.html"  >最新发布</a>
						</li>
						<li>
							<a  href="isc99a-1b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o1p4h0p1.html"  >评论最多</a>
						</li>
						<li>
							<a  href="isc99a-1b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o5p4h0p1.html" >分享最多</a>
						</li>
						<li>
							<a  href="isc99a-1b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o4p4h0p1.html" >挖的最多</a>
						</li>
						<li>
							<a  href="isc99a-1b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o12p4h0p1.html" >评分最高</a>
						</li>
						<li class="lst">						
						</li>
					</ul>
				</div>
				
				
				<div class="content">
					<div class="showcase">
					<div class="row">
						<div class="pack pack_video_card">
							<div class="pic">
								<a href="http://www.tudou.com/listplay/in834ss0zHQ/bATOIerkt3A.html" title="富豪丢失名表用豪车堵路" target="new"></a>
								<div class="inner">
									<img width="132" height="99" class="pack_listImg" src="http://i4.tdimg.com/b/20121009/c922.jpg" />
								</div>
							</div>
							<div class="txt">
								<h6 class="caption"><a href="http://www.tudou.com/listplay/in834ss0zHQ/bATOIerkt3A.html" title="富豪丢失名表用豪车堵路" target="new">富豪丢失名表用豪车堵路</a></h6>
								<ul class="info">
									<li>
										创建: <a target="_blank" title="土豆财富频道的主页" href="http://www.tudou.com/home/wealth001"> 土豆财富频道</a><a href="http://www.tudou.com/my/dj/" title="更多豆角儿" target="_blank" class="g_vip3"></a>
									</li>
									<li>
										发布: 2012-12-12
									</li>
									<li class="d_nums">
										<span class="d_play">16,657K</span><span class="d_cmt">14K</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="pack pack_video_card">
							<div class="pic">
								<a target="new" title="<新萍踪侠影>旧日情缘" href="http://www.tudou.com/albumplay/KEM-ji_ONRU.html"> </a>
								<div class="inner"><img src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="http://i2.tdimg.com/b/20121025/co210.jpg" class="lazyImg pack_clipImg" height="99" width="132"></div>
							</div>
							<div class="txt">
								<h6 class="caption"><a href="http://www.tudou.com/listplay/in834ss0zHQ/bATOIerkt3A.html" title="富豪丢失名表用豪车堵路" target="new">富豪丢失名表用豪车堵路</a></h6>
								<ul class="info">
									<li>
										创建: <a target="_blank" title="土豆财富频道的主页" href="http://www.tudou.com/home/wealth001"> 土豆财富频道</a><a href="http://www.tudou.com/my/dj/" title="更多豆角儿" target="_blank" class="g_vip3"></a>
									</li>
									<li>
										发布: 2012-12-12
									</li>
									<li class="d_nums">
										<span class="d_play">16,657K</span><span class="d_cmt">14K</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="pack pack_video_card">
							<div class="pic">
								<a href="http://www.tudou.com/listplay/GDAda0pmgA4/B2FDf5oZVSg.html" title="[缅怀]乔布斯逝世一周年" target="new"></a>
								<div class="inner">
									<img width="132" height="99" class="pack_listImg" src="http://i2.tdimg.com/b/20121009/c669.jpg" />
								</div>
							</div>
							<div class="txt">
								<h6 class="caption"><a href="http://www.tudou.com/listplay/GDAda0pmgA4/B2FDf5oZVSg.html" title="[缅怀]乔布斯逝世一周年" target="new">[缅怀]乔布斯逝世一周年</a></h6>
								<ul class="info">
									<li>
										创建: <a target="_blank" title="土豆网科技频道的主页" href="http://www.tudou.com/home/_83562843"> 土豆网科技频道</a><a href="http://www.tudou.com/my/dj/" title="更多豆角儿" target="_blank" class="g_vip3"></a>
									</li>
									<li>
										发布: 2012-12-12
									</li>
									<li class="d_nums">
										<span class="d_play">97,897</span><span class="d_cmt">1,768</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="pack pack_video_card">
							<div class="pic">
								<a href="http://www.tudou.com/listplay/fuy9Eb8VDGw/hZrKOX1RyZc.html" title="沙怎样变成知名玻璃器皿" target="new"></a>
								<div class="inner">
									<img width="132" height="99" class="pack_listImg" src="http://i4.tdimg.com/b/20121009/c504.jpg" />
								</div>
							</div>
							<div class="txt">
								<h6 class="caption"><a href="http://www.tudou.com/listplay/fuy9Eb8VDGw/hZrKOX1RyZc.html" title="沙怎样变成知名玻璃器皿" target="new">沙怎样变成知名玻璃器皿</a></h6>
								<ul class="info">
									<li>
										创建: <a target="_blank" title="土豆网教育频道的主页" href="http://www.tudou.com/home/_83562548"> 土豆网教育频道</a><a href="http://www.tudou.com/my/dj/" title="更多豆角儿" target="_blank" class="g_vip3"></a>
									</li>
									<li>
										发布: 2012-12-12
									</li>
									<li class="d_nums">
										<span class="d_play">11,419K</span><span class="d_cmt">65K</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="pack pack_video_card">
							<div class="pic">
								<a href="http://www.tudou.com/listplay/in834ss0zHQ/bATOIerkt3A.html" title="富豪丢失名表用豪车堵路" target="new"></a>
								<div class="inner">
									<img width="132" height="99" class="pack_listImg" src="http://i4.tdimg.com/b/20121009/c922.jpg" />
								</div>
							</div>
							<div class="txt">
								<h6 class="caption"><a href="http://www.tudou.com/listplay/in834ss0zHQ/bATOIerkt3A.html" title="富豪丢失名表用豪车堵路" target="new">富豪丢失名表用豪车堵路</a></h6>
								<ul class="info">
									<li>
										创建: <a target="_blank" title="土豆财富频道的主页" href="http://www.tudou.com/home/wealth001"> 土豆财富频道</a><a href="http://www.tudou.com/my/dj/" title="更多豆角儿" target="_blank" class="g_vip3"></a>
									</li>
									<li>
										发布: 2012-12-12
									</li>
									<li class="d_nums">
										<span class="d_play">16,657K</span><span class="d_cmt">14K</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="pack pack_video_card">
							<div class="pic">
								<a href="http://www.tudou.com/programs/view/E7ivnfhRWds/" title="如何越狱iOS6并装Cydia" target="new" throwid="0"></a>
								<div class="inner">
									<img width="132" height="99" class="pack_clipImg" src="http://i2.tdimg.com/b/20120925/tc14.jpg" />
								</div>
							</div>
							<div class="txt">
								<h6 class="caption"><a href="http://www.tudou.com/programs/view/E7ivnfhRWds/" title="如何越狱iOS6并装Cydia" throwid="0" target="new">如何越狱iOS6并装Cydia</a></h6>
								<ul class="info">
									<li>
										播客: <a target="_blank" title="NeoNan牛男科技" href="http://www.tudou.com/home/_97982517/" throwid="0"> NeoNan牛男科 </a>
									</li>
									<li>
										发布: 2012-12-12
									</li>
									<li class="d_nums">
										<span class="d_play">51,314</span><span class="d_cmt">21</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="pack pack_video_card">
							<div class="pic">
								<a href="http://www.tudou.com/listplay/in834ss0zHQ/bATOIerkt3A.html" title="富豪丢失名表用豪车堵路" target="new"></a>
								<div class="inner">
									<img width="132" height="99" class="pack_listImg" src="http://i4.tdimg.com/b/20121009/c922.jpg" />
								</div>
							</div>
							<div class="txt">
								<h6 class="caption"><a href="http://www.tudou.com/listplay/in834ss0zHQ/bATOIerkt3A.html" title="富豪丢失名表用豪车堵路" target="new">富豪丢失名表用豪车堵路</a></h6>
								<ul class="info">
									<li>
										创建: <a target="_blank" title="土豆财富频道的主页" href="http://www.tudou.com/home/wealth001"> 土豆财富频道</a><a href="http://www.tudou.com/my/dj/" title="更多豆角儿" target="_blank" class="g_vip3"></a>
									</li>
									<li>
										发布: 2012-12-12
									</li>
									<li class="d_nums">
										<span class="d_play">16,657K</span><span class="d_cmt">14K</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="pack pack_video_card">
							<div class="pic">
								<a href="http://www.tudou.com/listplay/in834ss0zHQ/bATOIerkt3A.html" title="富豪丢失名表用豪车堵路" target="new"></a>
								<div class="inner">
									<img width="132" height="99" class="pack_listImg" src="http://i4.tdimg.com/b/20121009/c922.jpg" />
								</div>
							</div>
							<div class="txt">
								<h6 class="caption"><a href="http://www.tudou.com/listplay/in834ss0zHQ/bATOIerkt3A.html" title="富豪丢失名表用豪车堵路" target="new">富豪丢失名表用豪车堵路</a></h6>
								<ul class="info">
									<li>
										创建: <a target="_blank" title="土豆财富频道的主页" href="http://www.tudou.com/home/wealth001"> 土豆财富频道</a><a href="http://www.tudou.com/my/dj/" title="更多豆角儿" target="_blank" class="g_vip3"></a>
									</li>
									<li>
										发布: 2012-12-12
									</li>
									<li class="d_nums">
										<span class="d_play">16,657K</span><span class="d_cmt">14K</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="pack pack_video_card">
							<div class="pic">
								<a href="http://www.tudou.com/listplay/in834ss0zHQ/bATOIerkt3A.html" title="富豪丢失名表用豪车堵路" target="new"></a>
								<div class="inner">
									<img width="132" height="99" class="pack_listImg" src="http://i4.tdimg.com/b/20121009/c922.jpg" />
								</div>
							</div>
							<div class="txt">
								<h6 class="caption"><a href="http://www.tudou.com/listplay/in834ss0zHQ/bATOIerkt3A.html" title="富豪丢失名表用豪车堵路" target="new">富豪丢失名表用豪车堵路</a></h6>
								<ul class="info">
									<li>
										创建: <a target="_blank" title="土豆财富频道的主页" href="http://www.tudou.com/home/wealth001"> 土豆财富频道</a><a href="http://www.tudou.com/my/dj/" title="更多豆角儿" target="_blank" class="g_vip3"></a>
									</li>
									<li>
										发布: 2012-12-12
									</li>
									<li class="d_nums">
										<span class="d_play">16,657K</span><span class="d_cmt">14K</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="pack pack_video_card">
							<div class="pic">
								<a href="http://www.tudou.com/listplay/GDAda0pmgA4/B2FDf5oZVSg.html" title="[缅怀]乔布斯逝世一周年" target="new"></a>
								<div class="inner">
									<img width="132" height="99" class="pack_listImg" src="http://i2.tdimg.com/b/20121009/c669.jpg">
								</div>
							</div>
							<div class="txt">
								<h6 class="caption"><a href="http://www.tudou.com/listplay/GDAda0pmgA4/B2FDf5oZVSg.html" title="[缅怀]乔布斯逝世一周年" target="new">[缅怀]乔布斯逝世一周年</a></h6>
								<ul class="info">
									<li>
										创建: <a target="_blank" title="土豆网科技频道的主页" href="http://www.tudou.com/home/_83562843"> 土豆网科技频道</a><a href="http://www.tudou.com/my/dj/" title="更多豆角儿" target="_blank" class="g_vip3"></a>
									</li>
									<li>
										发布: 2012-12-12
									</li>
									<li class="d_nums">
										<span class="d_play">97,897</span><span class="d_cmt">1,768</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="pack pack_video_card">
							<div class="pic">
								<a href="http://www.tudou.com/listplay/fuy9Eb8VDGw/hZrKOX1RyZc.html" title="沙怎样变成知名玻璃器皿" target="new"></a>
								<div class="inner">
									<img width="132" height="99" class="pack_listImg" src="http://i4.tdimg.com/b/20121009/c504.jpg">
								</div>
							</div>
							<div class="txt">
								<h6 class="caption"><a href="http://www.tudou.com/listplay/fuy9Eb8VDGw/hZrKOX1RyZc.html" title="沙怎样变成知名玻璃器皿" target="new">沙怎样变成知名玻璃器皿</a></h6>
								<ul class="info">
									<li>
										创建: <a target="_blank" title="土豆网教育频道的主页" href="http://www.tudou.com/home/_83562548"> 土豆网教育频道</a><a href="http://www.tudou.com/my/dj/" title="更多豆角儿" target="_blank" class="g_vip3"></a>
									</li>
									<li>
										发布: 2012-12-12
									</li>
									<li class="d_nums">
										<span class="d_play">11,419K</span><span class="d_cmt">65K</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="pack pack_video_card">
							<div class="pic">
								<a href="http://www.tudou.com/programs/view/xRYwkgy87po/" title="如何越狱iOS6并装Cydia" target="new" throwid="0"></a>
								<div class="inner">
									<img width="132" height="99" class="pack_clipImg" src="http://i1.tdimg.com/152/320/090/p.jpg">
								</div>
							</div>
							<div class="txt">
								<h6 class="caption"><a href="http://www.tudou.com/programs/view/xRYwkgy87po/" title="如何越狱iOS6并装Cydia" throwid="0" target="new">如何越狱iOS6并装Cydia</a></h6>
								<ul class="info">
									<li>
										播客: <a target="_blank" title="NeoNan牛男科技" href="http://www.tudou.com/home/_97982517/" throwid="0"> NeoNan牛男科 </a>
									</li>
									<li>
										发布: 2012-12-12
									</li>
									<li class="d_nums">
										<span class="d_play">51,314</span><span class="d_cmt">21</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
					</div>
				</div>
				
				
				<div class="page-nav">
						<div class="page-nav-bar">
							<span class="page-nav-prev">&lt;上一页</span>
							<ul>
								<li class="current">
									1
								</li>
								<li>
									<a href="http://www.tudou.com/category/isc99a-1b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p2.html">2</a>
								</li>
								<li>
									<a href="http://www.tudou.com/category/isc99a-1b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p3.html">3</a>
								</li>
								<li>
									<a href="http://www.tudou.com/category/isc99a-1b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p4.html">4</a>
								</li>
								<li>
									<a href="http://www.tudou.com/category/isc99a-1b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p5.html">5</a>
								</li>
								<li>
									<a href="http://www.tudou.com/category/isc99a-1b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p6.html">6</a>
								</li>
								<li>
									<a href="http://www.tudou.com/category/isc99a-1b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p7.html">7</a>
								</li>
								<li>
									<a href="http://www.tudou.com/category/isc99a-1b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p8.html">8</a>
								</li>
								<li>
									<a href="http://www.tudou.com/category/isc99a-1b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p9.html">9</a>
								</li>
								<li>
									<a href="http://www.tudou.com/category/isc99a-1b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p10.html">10</a>
								</li>
								<li class="dot">
									...
								</li>
								<li>
									<a href="http://www.tudou.com/category/isc99a-1b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p37.html" page="37">37</a>
								</li>
								<li>
									<a href="http://www.tudou.com/category/isc99a-1b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p38.html">38</a>
								</li>

							</ul>
							<a class="page-nav-next" href="http://www.tudou.com/category/isc99a-1b-1c-1d-1e-1f-1g-1h-1i-1j-1k-1l-1m-1n-1o-1o10p4h-1p2.html">下一页&gt;</a>
						</div>
					</div>
			</div>
			
		
		</div>

		<!--底部导航 -->
		<div class="g-bot" id="gBot">
			<div class="b banner">
				<a href="#" target="_blank"><img class="lazyImg" src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="static/css/banner.png" width="980" height="90" /></a>
			</div>
			<ul>
				<li>
					<a href="#" target="_blank">帮助</a><a href="#" target="_blank">反馈</a><a href="#" target="_blank">关于我们</a>
				</li>
				<li>
					China Mobile Copyright 2011 沪ICP备05000300号-4
				</li>
			</ul>
			<div class="b-logo"></div>
		</div>
		<script src="static/js/tuilib2.js"></script>
		<script src="static/js/v.js"></script>

	</body>
</html>