<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>2013G客盛典 视频_播客_个人多媒体 土豆网</title>
		<meta name="Keywords" content="音乐频道,视频下载,体育视频,在线视频,免费视频,自拍,视频教学,网络视频"/>
		<meta name="Description" content="上传你的视频，观看海量视频节目。土豆热爱原创，每个人都是生活的导演，戴上土豆面具，每个人都是明星。"/>
		<link type="text/css" href="{{domain}}/static/css/g.css" rel="stylesheet" />
		<link type="text/css" href="{{domain}}/static/css/v.css" rel="stylesheet"/>

	</head>
	<body>		
		%include header domain=domain

		<input type="hidden" name="domainval" id="domainval" value="{{domain}}"/>
		<!--页面主体 -->
		<div class="fr">
			<div class="h_col">
				<div class="hot-slide" id="slideshow">
					<div class="bg"></div>
					<div class="pic">
						<div class="scroll"></div>
					</div>
					<div class="txt"></div>
					<div class="btns"></div>
				</div>
			</div>
			<!-- =======================宽栏======================= start-->
			<div class="m_col">
				<div class="b mod_vdlist_n1">
					<div class="h">
						<h2>首发</h2>
						<ul class="t-sub">
							<li class="current"><a href="" rel="1" target="_blank" hidefocus="true">内地</a></li>
							<li><a href="" rel="2" target="_blank" hidefocus="true">港台</a></li>
							<li><a href="" rel="3" target="_blank" hidefocus="true">亚洲</a></li>
							<li><a href="" rel="4" target="_blank" hidefocus="true">国际</a></li>
						</ul>
					</div>
					<!-- 日韩 开始  -->
					<div class="c">
						<div class="bc">
							<div class="c2">
								<div class="pack pack_focus_mid">
									<div class="pic">
										<a target="_blank" href="{{rihan[0][6]}}"> <img width="291" height="210" class="lazyImg"  src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{rihan[0][9]}}" /> </a>
									</div>
									<div class="txt">
										<h6 class="caption"><a title="{{rihan[0][1]}}" target="_blank" href="{{rihan[0][6]}}">{{rihan[0][1]}} Tab1</a><!--<span class="plays">播放次数：56523次</span>--></h6>
										<ul class="info">
											<li>
												{{rihan[0][2]}}
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="bc">
							<div class="c2">
								<div class="row2">
									<div class="pack pack_video_card">
										<div class="pic">
											<a href="{{rihan[1][6]}}" title="{{rihan[1][1]}}" target="new"></a>
											<div class="inner">
												<img width="132" height="99" class="clip_img lazyImg"  src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{rihan[1][8]}}">
											</div>
										</div>
										<div class="txt">
											<h6 class="caption"><a href="{{rihan[1][6]}}" title="{{rihan[1][1]}}" target="new">{{rihan[1][1]}}</a></h6>
											<!--
											<ul class="info">
												<li class="d_nums">
													<span class="d_play" title="播放">22,697</span>
												</li>
											</ul>
											-->
										</div>
									</div>
									<div class="pack pack_video_card">
										<div class="pic">
											<a href="{{rihan[2][6]}}" title="{{rihan[2][1]}}" target="new"></a>
											<div class="inner">
												<img width="132" height="99" class="clip_img lazyImg"  src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{rihan[2][8]}}">
											</div>
										</div>
										<div class="txt">
											<h6 class="caption"><a href="{{rihan[2][6]}}" title="{{rihan[2][1]}}" target="new">{{rihan[2][1]}}</a></h6>
											<!--
											<ul class="info">
												<li class="d_nums">
													<span class="d_play" title="播放">22,697</span>
												</li>
											</ul>
											-->
										</div>
									</div>
								</div>

								<div class="row2">
									<div class="pack pack_video_card">
										<div class="pic">
											<a href="{{rihan[3][6]}}" title="{{rihan[3][1]}}" target="new"></a>
											<div class="inner">
												<img width="132" height="99" class="clip_img lazyImg"  src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{rihan[3][8]}}">
											</div>
										</div>
										<div class="txt">
											<h6 class="caption"><a href="{{rihan[3][6]}}" title="{{rihan[3][1]}}" target="new">{{rihan[3][1]}}</a></h6>
											<!--
											<ul class="info">
												<li class="d_nums">
													<span class="d_play" title="播放">22,697</span>
												</li>
											</ul>
											-->
										</div>
									</div>
									<div class="pack pack_video_card">
										<div class="pic">
											<a href="{{rihan[4][6]}}" title="{{rihan[4][1]}}" target="new"></a>
											<div class="inner">
												<img width="132" height="99" class="clip_img lazyImg"  src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{rihan[4][8]}}">
											</div>
										</div>
										<div class="txt">
											<h6 class="caption"><a href="{{rihan[4][6]}}" title="{{rihan[4][1]}}" target="new">{{rihan[4][1]}}</a></h6>
											<!--
											<ul class="info">
												<li class="d_nums">
													<span class="d_play" title="播放">22,697</span>
												</li>
											</ul>
											-->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 日韩 结束  -->
					<!-- 港台 开始  -->
					<div class="c" style="display:none;">
						<div class="bc">
							<div class="c2">
								<div class="pack pack_focus_mid">
									<div class="pic">
										<a target="_blank" href="{{gangtai[0][6]}}"> <img width="291" height="210" class="lazyImg"  src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{gangtai[0][9]}}" /> </a>
									</div>
									<div class="txt">
										<h6 class="caption"><a title="{{gangtai[0][1]}}" target="_blank" href="{{gangtai[0][6]}}">{{gangtai[0][1]}} Tab2</a><!--<span class="plays">播放次数：56523次</span>--></h6>
										<ul class="info">
											<li>
												{{gangtai[0][2]}}
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="bc">
							<div class="c2">
								<div class="row2">
									<div class="pack pack_video_card">
										<div class="pic">
											<a href="{{gangtai[1][6]}}" title="{{gangtai[1][1]}}" target="new"></a>
											<div class="inner">
												<img width="132" height="99" class="clip_img lazyImg"  src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{gangtai[1][8]}}">
											</div>
										</div>
										<div class="txt">
											<h6 class="caption"><a href="{{gangtai[1][6]}}" title="{{gangtai[1][1]}}" target="new">{{gangtai[1][1]}}</a></h6>
											<!--
											<ul class="info">
												<li class="d_nums">
													<span class="d_play" title="播放">22,697</span>
												</li>
											</ul>
											-->
										</div>
									</div>
									<div class="pack pack_video_card">
										<div class="pic">
											<a href="{{gangtai[2][6]}}" title="{{gangtai[2][1]}}" target="new"></a>
											<div class="inner">
												<img width="132" height="99" class="clip_img lazyImg"  src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{gangtai[2][8]}}">
											</div>
										</div>
										<div class="txt">
											<h6 class="caption"><a href="{{gangtai[2][6]}}" title="{{gangtai[2][1]}}" target="new">{{gangtai[2][1]}}</a></h6>
											<!--
											<ul class="info">
												<li class="d_nums">
													<span class="d_play" title="播放">22,697</span>
												</li>
											</ul>
											-->
										</div>
									</div>
								</div>

								<div class="row2">
									<div class="pack pack_video_card">
										<div class="pic">
											<a href="{{gangtai[3][6]}}" title="{{gangtai[3][1]}}" target="new"></a>
											<div class="inner">
												<img width="132" height="99" class="clip_img lazyImg"  src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{gangtai[3][8]}}">
											</div>
										</div>
										<div class="txt">
											<h6 class="caption"><a href="{{gangtai[3][6]}}" title="{{gangtai[3][1]}}" target="new">{{gangtai[3][1]}}</a></h6>
											<!--
											<ul class="info">
												<li class="d_nums">
													<span class="d_play" title="播放">22,697</span>
												</li>
											</ul>
											-->
										</div>
									</div>
									<div class="pack pack_video_card">
										<div class="pic">
											<a href="{{gangtai[4][6]}}" title="{{gangtai[4][1]}}" target="new"></a>
											<div class="inner">
												<img width="132" height="99" class="clip_img lazyImg"  src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{gangtai[4][8]}}">
											</div>
										</div>
										<div class="txt">
											<h6 class="caption"><a href="{{gangtai[4][6]}}" title="{{gangtai[4][1]}}" target="new">{{gangtai[4][1]}}</a></h6>
											<!--
											<ul class="info">
												<li class="d_nums">
													<span class="d_play" title="播放">22,697</span>
												</li>
											</ul>
											-->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 港台 结束  -->
					<!-- 内地 开始  -->
					<div class="c" style="display:none;">
						<div class="bc">
							<div class="c2">
								<div class="pack pack_focus_mid">
									<div class="pic">
										<a target="_blank" href="{{neidi[0][6]}}"> <img width="291" height="210" class="lazyImg"  src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{neidi[0][9]}}" /> </a>
									</div>
									<div class="txt">
										<h6 class="caption"><a title="{{neidi[0][1]}}" target="_blank" href="{{neidi[0][6]}}">{{neidi[0][1]}} Tab3</a><!--<span class="plays">播放次数：56523次</span>--></h6>
										<ul class="info">
											<li>
												{{neidi[0][2]}}
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="bc">
							<div class="c2">
								<div class="row2">
									<div class="pack pack_video_card">
										<div class="pic">
											<a href="{{neidi[1][6]}}" title="{{neidi[1][1]}}" target="new"></a>
											<div class="inner">
												<img width="132" height="99" class="clip_img lazyImg"  src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{neidi[1][8]}}">
											</div>
										</div>
										<div class="txt">
											<h6 class="caption"><a href="{{neidi[1][6]}}" title="{{neidi[1][1]}}" target="new">{{neidi[1][1]}}</a></h6>
											<!--
											<ul class="info">
												<li class="d_nums">
													<span class="d_play" title="播放">22,697</span>
												</li>
											</ul>
											-->
										</div>
									</div>
									<div class="pack pack_video_card">
										<div class="pic">
											<a href="{{neidi[2][6]}}" title="{{neidi[2][1]}}" target="new"></a>
											<div class="inner">
												<img width="132" height="99" class="clip_img lazyImg"  src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{neidi[2][8]}}">
											</div>
										</div>
										<div class="txt">
											<h6 class="caption"><a href="{{neidi[2][6]}}" title="{{neidi[2][1]}}" target="new">{{neidi[2][1]}}</a></h6>
											<!--
											<ul class="info">
												<li class="d_nums">
													<span class="d_play" title="播放">22,697</span>
												</li>
											</ul>
											-->
										</div>
									</div>
								</div>

								<div class="row2">
									<div class="pack pack_video_card">
										<div class="pic">
											<a href="{{neidi[3][6]}}" title="{{neidi[3][1]}}" target="new"></a>
											<div class="inner">
												<img width="132" height="99" class="clip_img lazyImg"  src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{neidi[3][8]}}">
											</div>
										</div>
										<div class="txt">
											<h6 class="caption"><a href="{{neidi[3][6]}}" title="{{neidi[3][1]}}" target="new">{{neidi[3][1]}}</a></h6>
											<!--
											<ul class="info">
												<li class="d_nums">
													<span class="d_play" title="播放">22,697</span>
												</li>
											</ul>
											-->
										</div>
									</div>
									<div class="pack pack_video_card">
										<div class="pic">
											<a href="{{neidi[4][6]}}" title="{{neidi[4][1]}}" target="new"></a>
											<div class="inner">
												<img width="132" height="99" class="clip_img lazyImg"  src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{neidi[4][8]}}">
											</div>
										</div>
										<div class="txt">
											<h6 class="caption"><a href="{{neidi[4][6]}}" title="{{neidi[4][1]}}" target="new">{{neidi[4][1]}}</a></h6>
											<!--
											<ul class="info">
												<li class="d_nums">
													<span class="d_play" title="播放">22,697</span>
												</li>
											</ul>
											-->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 内地 结束  -->
					<!-- 欧美 开始  -->
					<div class="c" style="display:none;">
						<div class="bc">
							<div class="c2">
								<div class="pack pack_focus_mid">
									<div class="pic">
										<a target="_blank" href="{{oumei[0][6]}}"> <img width="291" height="210" class="lazyImg"  src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{oumei[0][9]}}" /> </a>
									</div>
									<div class="txt">
										<h6 class="caption"><a title="{{oumei[0][1]}}" target="_blank" href="{{oumei[0][6]}}">{{oumei[0][1]}} Tab4</a><!--<span class="plays">播放次数：56523次</span>--></h6>
										<ul class="info">
											<li>
												{{oumei[0][2]}}
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="bc">
							<div class="c2">
								<div class="row2">
									<div class="pack pack_video_card">
										<div class="pic">
											<a href="{{oumei[1][6]}}" title="{{oumei[1][1]}}" target="new"></a>
											<div class="inner">
												<img width="132" height="99" class="clip_img lazyImg"  src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{oumei[1][8]}}">
											</div>
										</div>
										<div class="txt">
											<h6 class="caption"><a href="{{oumei[1][6]}}" title="{{oumei[1][1]}}" target="new">{{oumei[1][1]}}</a></h6>
											<!--
											<ul class="info">
												<li class="d_nums">
													<span class="d_play" title="播放">22,697</span>
												</li>
											</ul>
											-->
										</div>
									</div>
									<div class="pack pack_video_card">
										<div class="pic">
											<a href="{{oumei[2][6]}}" title="{{oumei[2][1]}}" target="new"></a>
											<div class="inner">
												<img width="132" height="99" class="clip_img lazyImg"  src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{oumei[2][8]}}">
											</div>
										</div>
										<div class="txt">
											<h6 class="caption"><a href="{{oumei[2][6]}}" title="{{oumei[2][1]}}" target="new">{{oumei[2][1]}}</a></h6>
											<!--
											<ul class="info">
												<li class="d_nums">
													<span class="d_play" title="播放">22,697</span>
												</li>
											</ul>
											-->
										</div>
									</div>
								</div>

								<div class="row2">
									<div class="pack pack_video_card">
										<div class="pic">
											<a href="{{oumei[3][6]}}" title="{{oumei[3][1]}}" target="new"></a>
											<div class="inner">
												<img width="132" height="99" class="clip_img lazyImg"  src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{oumei[3][8]}}">
											</div>
										</div>
										<div class="txt">
											<h6 class="caption"><a href="{{oumei[3][6]}}" title="{{oumei[3][1]}}" target="new">{{oumei[3][1]}}</a></h6>
											<!--
											<ul class="info">
												<li class="d_nums">
													<span class="d_play" title="播放">22,697</span>
												</li>
											</ul>
											-->
										</div>
									</div>
									<div class="pack pack_video_card">
										<div class="pic">
											<a href="{{oumei[4][6]}}" title="{{oumei[4][1]}}" target="new"></a>
											<div class="inner">
												<img width="132" height="99" class="clip_img lazyImg"  src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{oumei[4][8]}}">
											</div>
										</div>
										<div class="txt">
											<h6 class="caption"><a href="{{oumei[4][6]}}" title="{{oumei[4][1]}}" target="new">{{oumei[4][1]}}</a></h6>
											<!--
											<ul class="info">
												<li class="d_nums">
													<span class="d_play" title="播放">22,697</span>
												</li>
											</ul>
											-->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 欧美 结束  -->

				</div>

				<!--======= 广告位======-->
				%for mads in middleads:
				<div class="b pic-banner">
					<a href="{{mads[6]}}" target="_blank"><img class="lazyImg" src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{mads[9]}}" width="648" height="85" /></a>
				</div>
				%end
				<!--========热门影院========-->
				<div class="b mod_picarea">
					<div class="h">
						<h2><a href="http://cartoon.tudou.com/" target="_blank">热门影院</a></h2>
					</div>

					<div class="c">
						<div class="rw1">
							<div class="pic1">
								<a href="#" target="_blank"><img class="lazyImg" src="{{picdomain}}/{{hotvideo[0][9]}}" alt="{{picdomain}}/{{hotvideo[0][9]}}"  /></a>
								<div class="ext">
									<div class="bg"></div>
									<b>{{hotvideo[0][1]}}</b>
								</div>
							</div>
							<div class="pic2 long">
								<a href="#" target="_blank"><img  class="lazyImg" src="{{picdomain}}/{{hotvideo[1][8]}}" alt="{{picdomain}}/{{hotvideo[1][8]}}" /></a>
								<div class="ext">
									<div class="bg"></div>

									<b>{{hotvideo[1][1]}}</b>
								</div>
							</div>
							
						</div>
						<div class="pic2 long">
							<a href="#" target="_blank"><img class="" src="{{picdomain}}/{{hotvideo[2][8]}}"></a>
							<div class="ext" style="display: none;">
								<div class="bg"></div>
								<b>{{hotvideo[2][1]}}</b>
							</div>
						</div>
						<div class="rw2">

							<div class="pic2">
								<a href="#" target="_blank"><img class="lazyImg" src="{{picdomain}}/{{hotvideo[3][8]}}" alt="{{picdomain}}/{{hotvideo[3][8]}}" /></a>
								<div class="ext">
									<div class="bg"></div>
									<b>{{hotvideo[3][1]}}</b>
								</div>
							</div>
							<!--
							<div class="pic2">
								<a href="#" target="_blank"><img class="lazyImg" src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{hotvideo[4][8]}}" /></a>
								<div class="ext">
									<div class="bg"></div>
									<b>{{hotvideo[4][1]}}</b>
								</div>
							</div>
							-->
							<div class="pic3">
								<a href="#" target="_blank"><img class="lazyImg" src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{hotvideo[5][9]}}" /></a>
								<div class="ext">
									<div class="bg"></div>
									<b>{{hotvideo[5][1]}}</b>
								</div>
							</div>
						</div>
						<div class="rw2">
							<!--
							<div class="pic2">
								<a href="#"><img class="lazyImg" src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{hotvideo[6][8]}}" /></a>
								<div class="ext">
									<div class="bg"></div>
									<b>{{hotvideo[6][1]}}</b>
								</div>
							</div>
							-->
							<div class="pic3">
								<a href="#"><img class="lazyImg" src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{hotvideo[7][9]}}" /></a>
								<div class="ext">
									<div class="bg"></div>
									<b>{{hotvideo[7][1]}}</b>
								</div>
							</div>

							<div class="pic2">
								<a href="#"><img  class="lazyImg" src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{hotvideo[8][8]}}" /></a>
								<div class="ext">
									<div class="bg"></div>
									<b>{{hotvideo[8][1]}}</b>
								</div>
							</div>

						</div>

					</div>
				</div>

				<!--========G客盛典========-->
				<div class="b mod_vdlist">
					<div class="h">
						<h2>G客盛典</h2>
						<div class="ap">
							<ul class="tl">
								<li>
									<!-- <a href="http://city.tudou.com/" title="创意" target="_blank">更多</a> -->
									&nbsp;
								</li>
							</ul>
						</div>
					</div>
					<div class="c">
						<div class="bc">
							<div class="c2">
								<div class="pack pack_album">
					                %if gksd[0][4]==1:
									<div class="pic">
										<a target="_blank" href="{{domain}}/programs/view/{{gksd[0][5]}}/"> <img width="132" height="148" class="lazyImg"  src="{{picdomain}}/{{gksd[0][9]}}" alt="{{picdomain}}/{{gksd[0][9]}}" /> </a>
									</div>
									<div class="txt">
										<h6 class="caption"><a title="{{gksd[0][1]}}" target="_blank" href="{{domain}}/programs/view/{{gksd[0][5]}}/">{{gksd[0][1]}}</a></h6>
										<ul class="info">
											<li>
												{{gksd[0][2]}}
											</li>
										</ul>
									</div>
									%end
									%if gksd[0][4]==2:
									<div class="pic">
										<a target="_blank" href="{{gksd[0][6]}}"> <img width="132" height="148" class="lazyImg"  src="{{picdomain}}/{{gksd[0][9]}}" alt="{{picdomain}}/{{gksd[0][9]}}" /> </a>
									</div>
									<div class="txt">
										<h6 class="caption"><a title="{{gksd[0][1]}}" target="_blank" href="{{gksd[0][6]}}">{{gksd[0][1]}}</a></h6>
										<ul class="info">
											<li>
												{{gksd[0][2]}}
											</li>
										</ul>
									</div>
									%end
								</div>
							</div>
						</div>
						<div class="bc2">
							<div class="c2">
								<div class="row_txt">
									<h6 class="caption"><a href="{{gksd[1][6]}}" title="{{gksd[1][1]}}" target="new">{{gksd[1][1]}}</a></h6>
									<p>
										{{gksd[1][3]}}
									</p>
								</div>
								<div class="row2">
									<div class="pack pack_video_card">
										<div class="pic">
											<a href="{{gksd[2][6]}}" title="{{gksd[2][1]}}" target="new"></a>
											<div class="inner">
												<img width="132" height="99" class="clip_img lazyImg"  src="{{picdomain}}/{{gksd[2][8]}}" alt="{{picdomain}}/{{gksd[2][8]}}">
											</div>
										</div>
										<div class="txt">
											<h6 class="caption"><a href="{{gksd[2][6]}}" title="{{gksd[2][1]}}" target="new">{{gksd[2][1]}}</a></h6>
											<!--
											<ul class="info">
												<li class="d_nums">
													<span class="d_play" title="播放">22,697</span>
												</li>
											</ul>
											-->
										</div>
									</div>
									<div class="pack pack_video_card">
										<div class="pic">
											<a href="{{gksd[3][6]}}" title="{{gksd[3][1]}}" target="new"></a>
											<div class="inner">
												<img width="132" height="99" class="clip_img lazyImg"  src="{{picdomain}}/{{gksd[3][8]}}" alt="{{picdomain}}/{{gksd[3][8]}}">
											</div>
										</div>
										<div class="txt">
											<h6 class="caption"><a href="{{gksd[3][6]}}" title="{{gksd[3][1]}}" target="new">{{gksd[3][1]}}</a></h6>
											<!--
											<ul class="info">
												<li class="d_nums">
													<span class="d_play" title="播放">22,697</span>
												</li>
											</ul>
											-->
										</div>
									</div>
									<div class="pack pack_video_card">
										<div class="pic">
											<a href="{{gksd[4][6]}}" title="{{gksd[4][1]}}" target="new"></a>
											<div class="inner">
												<img width="132" height="99" class="clip_img lazyImg"  src="{{picdomain}}/{{gksd[4][8]}}" alt="{{picdomain}}/{{gksd[4][8]}}">
											</div>
										</div>
										<div class="txt">
											<h6 class="caption"><a href="{{gksd[4][6]}}" title="{{gksd[4][1]}}" target="new">{{gksd[4][1]}}</a></h6>
											<!--
											<ul class="info">
												<li class="d_nums">
													<span class="d_play" title="播放">22,697</span>
												</li>
											</ul>
											-->
										</div>
									</div>
								</div>

							</div>
						</div>

					</div>
				</div>

				<!--========G客校园行========-->
				<div class="b mod_vdlist">
					<div class="h">
						<h2>G客校园行</h2>
						<div class="ap">
							<ul class="tl">
								<li>
									<!-- <a href="http://city.tudou.com/" title="创意" target="_blank">更多</a> -->
									&nbsp;
								</li>
							</ul>
						</div>
					</div>
					<div class="c">
						<div class="bc">
							<div class="c2">
								<div class="pack pack_album">
									<div class="pic">
										<a target="_blank" href="{{gkschool[0][6]}}"> <img width="132" height="148" class="lazyImg"  src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{gkschool[0][9]}}" /> </a>
									</div>
									<div class="txt">
										<h6 class="caption"><a title="{{gkschool[0][1]}}" target="_blank" href="{{gkschool[0][6]}}">{{gkschool[0][1]}}</a></h6>
										<ul class="info">
											<li>
												{{gkschool[0][2]}}
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="bc2">
							<div class="c2">
								<div class="row_txt">
									<h6 class="caption"><a href="{{gkschool[1][6]}}" title="{{gkschool[1][1]}}" target="new">{{gkschool[1][1]}}</a></h6>
									<p>
										{{gkschool[1][3]}}
									</p>
								</div>
								<div class="row2">
									<div class="pack pack_video_card">
										<div class="pic">
											<a href="{{gkschool[2][6]}}" title="{{gkschool[2][1]}}" target="new"></a>
											<div class="inner">
												<img width="132" height="99" class="clip_img lazyImg"  src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{gkschool[2][8]}}">
											</div>
										</div>
										<div class="txt">
											<h6 class="caption"><a href="{{gkschool[2][6]}}" title="{{gkschool[2][1]}}" target="new">{{gkschool[2][1]}}</a></h6>
											<!--
											<ul class="info">
												<li class="d_nums">
													<span class="d_play" title="播放">22,697</span>
												</li>
											</ul>
											-->
										</div>
									</div>
									<div class="pack pack_video_card">
										<div class="pic">
											<a href="{{gkschool[3][6]}}" title="{{gkschool[3][1]}}" target="new"></a>
											<div class="inner">
												<img width="132" height="99" class="clip_img lazyImg"  src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{gkschool[3][8]}}">
											</div>
										</div>
										<div class="txt">
											<h6 class="caption"><a href="{{gkschool[3][6]}}" title="{{gkschool[3][1]}}" target="new">{{gkschool[3][1]}}</a></h6>
											<!--
											<ul class="info">
												<li class="d_nums">
													<span class="d_play" title="播放">22,697</span>
												</li>
											</ul>
											-->
										</div>
									</div>
									<div class="pack pack_video_card">
										<div class="pic">
											<a href="{{gkschool[4][6]}}" title="{{gkschool[4][1]}}" target="new"></a>
											<div class="inner">
												<img width="132" height="99" class="clip_img lazyImg"  src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{gkschool[4][8]}}" />
											</div>
										</div>
										<div class="txt">
											<h6 class="caption"><a href="{{gkschool[4][6]}}" title="{{gkschool[4][1]}}" target="new">{{gkschool[4][1]}}</a></h6>
											<!--
											<ul class="info">
												<li class="d_nums">
													<span class="d_play" title="播放">22,697</span>
												</li>
											</ul>
											-->
										</div>
									</div>
								</div>

							</div>
						</div>

					</div>
				</div>
				<!--========G客G拍========-->
				<div class="b mod_vdlist">
					<div class="h">
						<h2>G客G拍</h2>
						<div class="ap">
							<ul class="tl">
								<li>
									<!-- <a href="http://city.tudou.com/" title="创意" target="_blank">更多</a> -->
									&nbsp;
								</li>
							</ul>
						</div>
					</div>
					<div class="c">
						<div class="bc">
							<div class="c2">
								<div class="pack pack_album">
									<div class="pic">
										<a target="_blank" href="{{gkgp[0][6]}}"> <img width="132" height="148" class="lazyImg"  src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{gkgp[0][9]}}" /> </a>
									</div>
									<div class="txt">
										<h6 class="caption"><a title="{{gkgp[0][1]}}" target="_blank" href="{{gkgp[0][6]}}">{{gkgp[0][1]}}</a></h6>
										<ul class="info">
											<li>
												{{gkgp[0][2]}}
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="bc2">
							<div class="c2">
								<div class="row_txt">
									<h6 class="caption"><a href="{{gkgp[1][6]}}" title="{{gkgp[1][1]}}" target="new">{{gkgp[1][1]}}</a></h6>
									<p>
										{{gkgp[1][3]}}
									</p>
								</div>
								<div class="row2">
									<div class="pack pack_video_card">
										<div class="pic">
											<a href="{{gkgp[2][6]}}" title="{{gkgp[2][1]}}" target="new"></a>
											<div class="inner">
												<img width="132" height="99" class="clip_img lazyImg"  src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{gkgp[2][8]}}">
											</div>
										</div>
										<div class="txt">
											<h6 class="caption"><a href="{{gkgp[2][6]}}" title="{{gkgp[2][1]}}" target="new">{{gkgp[2][1]}}</a></h6>
											<!--
											<ul class="info">
												<li class="d_nums">
													<span class="d_play" title="播放">22,697</span>
												</li>
											</ul>
											-->
										</div>
									</div>
									<div class="pack pack_video_card">
										<div class="pic">
											<a href="{{gkgp[3][6]}}" title="{{gkgp[3][1]}}" target="new"></a>
											<div class="inner">
												<img width="132" height="99" class="clip_img lazyImg"  src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{gkgp[3][8]}}">
											</div>
										</div>
										<div class="txt">
											<h6 class="caption"><a href="{{gkgp[3][6]}}" title="{{gkgp[3][1]}}" target="new">{{gkgp[3][1]}}</a></h6>
											<!--
											<ul class="info">
												<li class="d_nums">
													<span class="d_play" title="播放">22,697</span>
												</li>
											</ul>
											-->
										</div>
									</div>
									<div class="pack pack_video_card">
										<div class="pic">
											<a href="{{gkgp[4][6]}}" title="{{gkgp[4][1]}}" target="new"></a>
											<div class="inner">
												<img width="132" height="99" class="clip_img lazyImg"  src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{gkgp[4][8]}}" />
											</div>
										</div>
										<div class="txt">
											<h6 class="caption"><a href="{{gkgp[4][6]}}" title="{{gkgp[4][1]}}" target="new">{{gkgp[4][1]}}</a></h6>
											<!--
											<ul class="info">
												<li class="d_nums">
													<span class="d_play" title="播放">22,697</span>
												</li>
											</ul>
											-->
										</div>
									</div>
								</div>

							</div>
						</div>

					</div>
				</div>


			</div>

			<!-- =======================窄栏 =======================start-->
			
			<div class="s_col">
				<!--======= 广告位======-->
				%for ads in righttopads:
				<div class="b pic-banner">
					<a href="{{ads[6]}}" target="_blank"><img class="lazyImg" src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{ads[8]}}" width="316" height="85" /></a>
				</div>
				%end

				<!--票房排行-->
				<div class="b mod_nrank">
					<div class="h">
						<h2>票房排行</h2>
						<span class="ap"><!-- <a href="#" class="mo">更多</a> -->&nbsp;</span>
					</div>
					<div class="c">
						<ul class="livebox">
							% vn = 0
							%for v in ranking:
								%vn+=1
							<li class="pack pack_plist_card">
								%if vn>3:
								<i class="r-{{vn}}"> </i>
								%end
								%if vn < 4 :
								<i class="r-{{vn}}"></i>
								%end
								<div class="pic">
									<a href="{{v[6]}}" target="_blank" title="{{v[1]}}"> </a>
									<div class="inner">
										<img class="lazyImg" src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{v[8]}}" />
									</div>
								</div>
								<div class="txt">
									<h6 class="caption"><a href="{{v[6]}}" title="{{v[1]}}" target="new">{{v[1]}}</a></h6>
									<!--
											<ul class="info">
												<li class="d_nums">
													<span class="d_play" title="播放">22,697</span>
												</li>
											</ul>
											-->
								</div>
							</li>
							%end
							

						</ul>
					</div>
				</div>

				<!--======= 作品检索======-->
				<!--
				<div class="b mod_category">
					<div class="h">
						<h2>作品检索</h2>
						<div class="ap">
							<a class="mo" href="http://wwwtest.tudou.com/zone/" target="_blank">更多</a>
						</div>
					</div>
					<div class="c">
						<dl>
							<dt>
								地区：
							</dt>
							<dd>
								<a href="#" target="_blank">大陆</a><a href="#" target="_blank">大陆</a><a href="#" target="_blank">港台</a><a href="#" target="_blank">大陆</a>
							</dd>
							<dt>
								歌手：
							</dt>
							<dd>
								<a href="#" target="_blank">大陆</a><a href="#" target="_blank">大陆</a><a href="#" target="_blank">港台</a><a href="#" target="_blank">大陆</a>
							</dd>
							<dt>
								曲风：
							</dt>
							<dd>
								<a href="#"  target="_blank">大陆</a><a href="#">国际音乐</a><a href="#">港台</a><a href="#">港台</a><a href="#">港台</a><a href="#">港台</a><a href="#">大陆</a>
								<a href="#"  target="_blank">国际音乐</a><a href="#">港台</a><a href="#">大陆</a>
								<a href="#"  target="_blank">国际音乐</a><a href="#">港台</a><a href="#">大陆</a>
								<a href="#"  target="_blank">国际音乐</a><a href="#">港台</a><a href="#">大陆</a>
							</dd>
						</dl>

					</div>
				</div>
				-->
				<!--======= 广告位======-->
				%if thirdads:
				<div class="b pic-banner">
					<a href="{{thirdads[0][6]}}" target="_blank"><img class="lazyImg" src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{thirdads[0][8]}}" width="316" height="85" /></a>
				</div>
				%end
				<!--=======G客特写 ======-->
				<div class="b mod_picture" id="secGKTX">
					<div class="h">
						<h2>G客特写</h2>
						<ul class="t_dot">
							<li class="current">
								<a href="#" rel="1" hidefocus="true"> </a>
							</li>
							<li>
								<a href="#" rel="2" hidefocus="true"> </a>
							</li>
							<li>
								<a href="#" rel="3" hidefocus="true"> </a>
							</li>
						</ul>
					</div>
					<div class="c">
						<div class="pic" style="display: block;">
							<a href="{{gktxleft[0][6]}}" target="_blank"><img class="lazyImg" src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{gktxleft[0][9]}}"></a>
						</div>
						<div class="pic" style="display: none;">
							<a href="{{gktxleft[1][6]}}" target="_blank"><img class="lazyImg" src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{gktxleft[1][9]}}"></a>
						</div>
						<div class="pic" style="display: none;">
							<a href="{{gktxleft[2][6]}}" target="_blank"><img class="lazyImg" src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{gktxleft[2][9]}}"></a>
						</div>

						<ul class="btns">
							<li class="current">
								<i> </i>
								<a target="_blank" href="{{gktxleft[0][6]}}" rel="1" hidefocus="true"> <img class="lazyImg" src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{gktxleft[0][8]}}"> </a>
							</li>
							<li>
								<i> </i>
								<a target="_blank" href="{{gktxleft[1][6]}}" rel="2" hidefocus="true"> <img class="lazyImg" src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{gktxleft[1][8]}}"> </a>
							</li>
							<li>
								<i> </i>
								<a target="_blank" href="{{gktxleft[2][6]}}" rel="3" hidefocus="true"> <img class="lazyImg" src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{gktxleft[2][8]}}"></a>
							</li>
						</ul>
					</div>

					<div class="c" style="display:none">

						<div class="pic" style="display: block;">
							<a href="{{gktxmiddle[0][6]}}" target="_blank"><img class="lazyImg" src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{gktxmiddle[0][9]}}"></a>
						</div>
						<div class="pic" style="display: none;">
							<a href="{{gktxmiddle[1][6]}}" target="_blank"><img class="lazyImg" src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{gktxmiddle[1][9]}}"></a>
						</div>
						<div class="pic" style="display: none;">
							<a href="{{gktxmiddle[2][6]}}" target="_blank"><img class="lazyImg" src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{gktxmiddle[2][9]}}"></a>
						</div>
						<ul class="btns">
							<li class="current">
								<i> </i><a target="_blank" href="{{gktxmiddle[0][6]}}" rel="1" hidefocus="true"><img class="lazyImg" src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{gktxmiddle[0][8]}}"></a>
							</li>
							<li class="">
								<i> </i><a target="_blank" href="{{gktxmiddle[1][6]}}" rel="2" hidefocus="true"><img class="lazyImg" src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{gktxmiddle[1][8]}}"></a>
							</li>
							<li class="">
								<i> </i><a target="_blank" href="{{gktxmiddle[2][6]}}" rel="3" hidefocus="true"><img class="lazyImg" src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{gktxmiddle[2][8]}}"></a>
							</li>
						</ul>

					</div>
					<div class="c" style="display:none">
						<div class="pic" style="display: block;">
							<a href="{{gktxright[0][6]}}" target="_blank"><img class="lazyImg" src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{gktxright[0][9]}}"></a>
						</div>
						<div class="pic" style="display: none;">
							<a href="{{gktxright[1][6]}}" target="_blank"><img class="lazyImg" src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{gktxright[1][9]}}"></a>
						</div>
						<div class="pic" style="display: none;">
							<a href="{{gktxright[2][6]}}" target="_blank"><img class="lazyImg" src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{gktxright[2][9]}}"></a>
						</div>
						<ul class="btns">
							<li class="current">
								<i> </i><a target="_blank" href="{{gktxright[0][6]}}" rel="1" hidefocus="true"><img class="lazyImg" src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{gktxright[0][8]}}"></a>
							</li>
							<li class="">
								<i> </i><a target="_blank" href="{{gktxright[1][6]}}" rel="2" hidefocus="true"><img class="lazyImg" src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{gktxright[1][8]}}"></a>
							</li>
							<li class="">
								<i> </i><a target="_blank" href="{{gktxright[2][6]}}" rel="3" hidefocus="true"><img class="lazyImg" src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{gktxright[2][8]}}"></a>
							</li>
						</ul>
					</div>
				</div>

				<div class="b pic-list">
					<ul>
						%for adw in adwords:
						<li>
							<a href="{{adw[6]}}" target="_blank"><img class="lazyImg" src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{adw[8]}}" width="316" height="86" /></a>
						</li>
						%end
					</ul>
				</div>

			</div>

			<!-- =======================底部通栏 start=======================-->
			<!--
			<div class="h_col">
				<div class="b pic-list"  id="secGKTX2">
					<div class="h">
						<h2>G客联盟</h2>
						<ul class="t_dot">
							<li class="current">
								<a href="#" rel="1" hidefocus="true"> </a>
							</li>
							<li>
								<a href="#" rel="2" hidefocus="true"> </a>
							</li>
							<li>
								<a href="#" rel="3" hidefocus="true"> </a>
							</li>
						</ul>
					</div>
					
					<div class="c">
						<ul>
							%for v in gktxfootTop:
							<li>
								<a href="{{v[6]}}" target="_blank"><img class="lazyImg" src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{v[9]}}" width="307" height="86" /></a>
							</li>
							%end
						</ul>
					</div>
					<div class="c" style="display: none;">
						<ul>
							%for v in gktxfootMiddle:
							<li>
								<a href="{{v[6]}}" target="_blank"><img class="lazyImg" src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{v[9]}}" width="307" height="86" /></a>
							</li>
							%end
						</ul>
					</div>
					<div class="c" style="display: none;">
						<ul>
							%for v in gktxfootDown:
							<li>
								<a href="{{v[6]}}" target="_blank"><img class="lazyImg" src="http://css.tudouui.com/skin/__g/img/sprite.gif" alt="{{picdomain}}/{{v[9]}}" width="307" height="86" /></a>
							</li>
							%end
							
						</ul>
					</div>

				</div>

			</div>
			-->
		</div>
		%include footer domain=domain
		

		<script>
            var hotBoardItems = [
            % le = len(hualang)
			% curnum = 0
			%for hual in hualang:
			{
                pic : "{{picdomain}}/{{hual[9]}}",
                smallPic : "{{picdomain}}/{{hual[8]}}",
                %if hual[4]==1:
                url : "{{domain}}/programs/view/{{hual[5]}}/",
                %end
                %if hual[4]==2:
                url : "{{hual[6]}}",
                %end
                title : "{{hual[1]}}",
                subtitle : "{{hual[2]}}"
            }
            	% curnum+=1
	            %if curnum != le:
	            	,
	            %end
			%end
            ];

		</script>
		<script src="{{domain}}/static/js/tuilib2.js"></script>
		<script src="{{domain}}/static/js/v.js"></script>
		<script type="text/javascript" src="{{domain}}/static/js/ulogin.js"></script>
	</body>
</html>