/*!
 * @modified $Author: fzhang $
 * @version $Rev: 27024 $
 * @path STATIC/skin/__g/__g.css
 */

/**
 * @path skin/__g/base.css
 * @version 17446
 * /设置各表单元素的样式/
 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
body {
	color: #333;
	background: #fff;
	font-size: 12px;   /* 将1em定义为12px，除表单元素以外的所有元素都会继承 */
	line-height: 1.25; /* 12px字体行高15px，这样FF下Tahoma的下划线才会出来 */
	font-family: tahoma,arial,\5b8b\4f53,sans-serif; /* 除表单元素以外的所有元素都会继承 */
	background: url(ad_top.jpg) 0 0 repeat-x;
}

th, td {
	/* 让表格里的内容左对齐、上对齐 */
	text-align:left; 
	vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
	/* 这几个标签在不同的浏览器里默认的大小不一样，不能指望使用默认大小 */
	font-size: 1em;
	font-weight: normal;
}
p {
	margin: 0 0 1em 0;
}
blockquote {
	margin: 0 0 1em 0;
}
a {
	color: #14647d;
	text-decoration: none;
	font-family: tahoma,arial,\5b8b\4f53,sans-serif;
	_font-family: arial, sans-serif;
}
a:hover {
	text-decoration: underline;
}
img {
	display: block;
	border: 0;
}
li {
	list-style: none;
}
ol { /* 这里有个小默契，对于列表，请设置l外层的ul或ol，而不是设置li */
	padding: 0 0 0 2em;
}

input, label, select, option, textarea, button, fieldset, legend {
	/* 表单元素不继承body的字体属性，需重新定义 */
	font-size: 1em;   
	font-family: tahoma,arial,\5b8b\4f53,sans-serif;
	_font-family: Arial, sans-serif;
}

input[type=text],textarea{-webkit-appearance:none;-webkit-border-radius:0;outline:none} /* for iOS */

input.text{
	color:#444;
	border-color:#9f9f9f #dcdcdc #dcdcdc #9f9f9f;
	border-style:solid;
	border-width:1px;
	padding:3px 2px;
	height: 14px;
}

input.radio, input.checkbox {
	margin-right: 2px;
	vertical-align: -2px;
}
input.radio, input.checkbox { margin-left: -2px;}	/* hacked for IE 6 7*/
label.radio, label.checkbox {
	margin-right: 5px;
}
textarea {
	border-color:#9f9f9f #dcdcdc #dcdcdc #9f9f9f;
	border-style:solid;
	border-width:1px;
	padding:1px;
	resize: none;
}
/* 工具箱 */
.fix:after { /* 闭合容器 */
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
	.fix {display: inline-block; min-height: 1%;}
	/* Hides from IE-mac \*/
	*html .fix {zoom: 1;}
	.fix {display: block;}
	/* Hide from IE-mac ends */

.clearleft{clear: left}

.g_notify{background: #ffc; border-bottom: 1px solid #fc0; padding: 3px 8px; color: #808080; vertical-align: middle;}
.g_notify label{position: absolute; right: 10px; top: 4px;}
.g_notify label input{margin-right: 5px; vertical-align: middle;}
.g_notify .btn{text-align: center; padding: 2px 5px; text-decoration: none; color: #404040; background: #fff; margin-left: 10px; border: 1px solid #d9d9d9; min-width: 20px; display: inline-block; -moz-border-radius: 4px; -webkit-border-radius: 4px;
border-radius: 4px; background: -moz-linear-gradient(top, #fdfdfd, #f1f1f1); background: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#f1f1f1));}
.g_notify .btn:active{background: #f1f1f1;}


/* 布局 */
.page_content,.frame_2cols {
	clear: both;
}
	.page_content, .frame_2cols{ zoom: 1;} 
	.page_content:after, .frame_2cols:after{ content: ".";display: block;height: 0;clear: both;visibility: hidden;} /* wrappit */
.main_col, .side_col{ _overflow: hidden; } /*防止在IE里撑开破掉*/

/**
 * @path skin/__g/nav/v5/g.css
 * @version 26776
 * /Global Nav 2012 Early/
 */
.g-top { min-width: 980px;height:148px; cursor: default; position: relative; z-index: 10001;background: #6eb92b; }

/*.g-bar { height: 26px; border-bottom: 1px solid #d2d2d2; background: url(/skin/__g/img/ui/nav/v_v3.png) 0 -50px repeat-x; clear: both; position: relative; z-index: 10001; }
.g-bar-main { width: 980px; margin: 0 auto; }
.g-bar-link { float: left; width: 450px; padding: 6px 0 0 13px; }
.g-bar-user { float: right; padding: 2px 4px 0; }*/

.g_main{width: 100%; height: 113px; background: url(banner_top.jpg) 50% 0 no-repeat; }
.g_main_c { width: 980px; height:93px; margin: 0 auto; clear: both; position: relative; *z-index: 10; }
.g_main_c .logo { float: left; width: 180px; padding: 18px 0 0 4px; }
.g_main_c .logo a { display: block; height: 45px; text-indent: -9999px; }

.g_nav{position:absolute;top:106px; width: 100%; height: 40px; background:#333 url(/skin/__g/img/ui/nav/v2.png) 0 -159px repeat-x;}
.g_nav_main { width: 980px; margin: 0 auto; height: 35px; padding-top:5px;}
.g_nav_main a { float: left;min-width: 30px; padding: 0 11px 0 12px; text-decoration: none; outline: none; }
.g_nav_main li {position:relative; float: left; line-height: 31px;}
.g_nav_main li.current a,
.g_nav_main li.current a:hover {background:#fff; color: #181717;}

.g-nav-master { float: left; width: 400px; height: 35px; overflow: hidden; }
.g-nav-master li{ margin-right: 1px;}
.g-nav-master a {height: 35px;  font-size: 14px; color: #fff; background: url(/skin/__g/img/ui/nav/v2.png) 0 -87px no-repeat; font-weight: 700;}

.g-nav-master a:not(first) { letter-spacing: 0.05em\9; }
.g-nav-sub { float: right; height:35px; margin-right: -3px; padding: 0 3px 0 0; }
.g-nav-sub a { min-width: 24px; height:35px; padding: 0 7px; color: #ccc; }
.g_nav_main a:hover { text-decoration: none; background: url(/skin/__g/img/ui/nav/v2.png) 0 -124px no-repeat; }

.g-nav-new{position: absolute; right: 3px; top:-10px; display: inline-block; height: 15px; width: 16px;background: url(/skin/__g/img/ui/nav/v2.png) -98px -90px no-repeat;}


/* 频道等二级导航 */
.g_subnav { width: 100%; height: 39px; margin: 0 auto 8px; background:#fff; overflow: hidden; }
.g_subnav .gsn_i {width: 980px; height: 39px; margin:0 auto; }
.g_subnav ul { width: 960px; height: 39px; margin: 0 10px; padding: 9px 0; overflow: hidden;line-height: 1; line-height: 1.25\9; *line-height: 1.25; }
.g_subnav li { float: left; height: 20px; margin: 0 0 0 -10px; padding: 0 14px 0 5px; background: url(/skin/__g/img/ui/nav/v2.png) -170px -431px no-repeat; white-space: nowrap; }
.g_subnav li a { display: block; padding:4px 3px 4px 7px; color: #808080;}
.g_subnav li a:hover{ text-decoration: none; color: #f60; }
.g_subnav li.current a,
.g_subnav .current a:hover,
.g_subnav li a.current,
.g_subnav li a.current:hover {background: #f60; color: #f0f0f0;}

.g-extra {clear:both;width: 100%; height: 25px;}
.g-extra .g-hotwords {position: absolute; bottom:0; left:0; }
.g-extra .g-rank { position: absolute; right: 10px; bottom:0;}

.g-top .g-upload { position: absolute; right: 0; top: 28px; width: 64px; height: 31px; background: url(/skin/__g/img/ui/nav/v2.png) 0 -50px no-repeat; overflow: hidden; text-indent: -3000px; }
.g-top .g-user .g-upload { display: none; }

/* logo右侧图标链接 */
#specialogo { position: absolute; top: 9px; left: 200px; }


/**
 * @path skin/__g/nav/v5/common.css
 * @version 26162
 * /导航全站、播放页公用部分/
 */
.g-link { height: 14px; position: relative; overflow: hidden; line-height: 14px; line-height: 16px\9; *line-height: 17px; }
.g-link li { float: left; height: 12px; margin: 0 0 0 -10px; padding: 0 18px 2px 10px; background: url(/skin/__g/img/ui/nav/v2.png) -170px -434px no-repeat; position: relative; }
.g-link li a { color: #4b4b4b; text-shadow: 0 1px 0 #fff; }
.g-link li a:hover,
.g-link li a.current { text-decoration: none; color: #f60; }
.g-link li i { font-style: normal; font-size: 11px; padding: 0 1px; }
.g-link li.first { background: none; }

.g-top .g-search { float: left; width: 362px; margin: 20px 0 0 125px; padding: 0 0 0 2px; position: relative; z-index: 10000; }
.g-search-box { float: left; width: 280px; height: 35px;padding-left:3px; background: url(/skin/__g/img/ui/nav/v2.png) -169px -117px no-repeat; overflow: hidden; }
.g-search-text { float: left; width: 264px; height: 27px; padding: 4px 6px 4px 10px; line-height: 26px; background: #fff; border: 0; font-size: 14px; }
.g-search-focus { color: #afafaf; }
.g-search-submit { float: left; width: 79px; height: 35px; background: url(/skin/__g/img/ui/nav/v2.png) -65px -50px no-repeat; border: 0; text-indent: -3000px; cursor: pointer; border-radius: 0; }
/*.g-top .g-search-submit:hover { background-position: -107px -570px; }*/

.g-mini-search { float: left; width: 241px; margin: 0 0 0 20px; padding: 0; background: none; position: relative; z-index: 10000; _display: inline;}
.g-mini-search .g-search-box { width: auto; height: 28px; padding: 0; background: none; }
.g-mini-search .g-search-text { width: 200px; height:20px; line-height: 20px; line-height: 18px\9; padding: 3px 20px 3px 4px; border: 1px solid #6a6a6a; font-size: 12px; background: #5b5b5b;}
.g-mini-search .g-search-submit {position:absolute; right:11px; top:6px; width: 16px; height: 16px; background-position: -147px -113px; }

.g-mini-search .g-bot-txtfocus{border-color:#232323; background: #fff; color: #232323;}
.g-mini-search .g-bot-btnfocus{background-position: -147px -133px}

.g-mini-main .g-mini-search .g-search-text{padding-right: 4px; width: 170px; border-color:#ccc; background: #fff;}
.g-mini-main .g-mini-search .g-search-submit{top:-1px; right:-9px; width: 70px; height: 30px; background-position:0 -277px; }
.g-mini-main .g-mini-search .g-search-box{padding-left:2px; background: url(/skin/__g/img/ui/nav/v2.png) -170px -351px no-repeat;}
.g-mini-main .g-mini-search .gst{width: 250px; top:28px; left:0;}
.g-mini-main .g-mini-search{margin-top: 3px;}

.g-hotwords { float: left; padding-left: 0; height: 15px; overflow: hidden; }
.g-hotwords li { float: left; padding: 0 0 0 10px; white-space: nowrap; }
.g-hotwords a { text-decoration: none; color: #fff; }
.g-hotwords li a:hover {text-decoration: underline;color: #fff;}

.g-rank { float: left; padding: 0 0 0 21px; background: url(/skin/__g/img/ui/nav/v2.png) -154px -84px no-repeat; color: #ffeadc; line-height: 15px; line-height: 18px\9; *line-height: 18px; }


/* 底部 */
.g-bot { min-width: 980px; margin:0; clear: both; position: relative; z-index: 10000; border-top:3px solid #f60; _zoom: 1; background:#2d2d2d url(/skin/__g/img/ui/nav/g_bot.png) 50% bottom no-repeat; }
.g-bot-main { width: 980px; margin: 0 auto; padding: 25px 0; border-bottom: 1px solid #3b3b3b; }
.g-bot-main:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.g-bot-main .logo { float: left; width: 90px; padding-left: 5px; }
.g-bot-main .logo a { display: block; height: 32px; text-indent: -9999px; background: url(/skin/__g/img/ui/nav/v2.png) -65px -511px; }

.g-searchbar { float: left; width: 360px; height: 31px; }
.g-searchbar .g-mini-search { width: 230px; margin-top: 2px; }
.g-searchbar .g-rank { margin: 8px 0 0 4px; background-position: -154px -61px;white-space: nowrap; }

.g-sitemap { float: right; padding: 0; overflow: hidden; }
.g-sitemap ul { overflow: hidden; clear: both; }
.g-sitemap li { float: left; white-space: nowrap; }
.g-sitemap li a { color: #808080; }

.g-category { margin: 8px 15px 8px 0; }
.g-category li { margin-right: 50px; padding: 0 0 0 10px; background: url(/skin/__g/img/ui/nav/v2.png) -170px -286px no-repeat; }
.g-category li.last { margin-right: 0; } 
.g-category li a { padding: 0 10px 0 0; font-weight: bold; color: #bebebe; background: url(/skin/__g/img/ui/nav/v2.png) right -306px no-repeat; line-height: 14px; *line-height: 16px; }
.g-category li a.current,
.g-category li a:hover { text-decoration: none; color: #f70; }

.g-cateitem { width: 444px; padding: 5px 0 0 10px; display: none; }
.g-cateitem li { padding: 7px 28px 0 0; }
.g-cate-chs li { width: 25px; }
.g-cate-chs li.tv { width: 35px; }
.g-cateitem li.clear { float: none; _position: relative; _left: -3px; }

.g-licence { width: 980px; margin: 0 auto; padding: 15px 0; overflow: hidden; _zoom: 1; clear: both; }
.g-licence, .g-licence a { color: #bebebe; }
.g-licence a:hover { color: #f60; }
.g-licence li { margin: 5px 0; }
.g-licence ul { float: left; margin: 0 70px 0 7px; }
.g-licence ul.last { margin: 0; }

/* 搜索提示 */
.g-search .gst { width: 362px; margin: 0; padding: 0; position: absolute; left: 2px; top: 34px; z-index: 10001; background: transparent; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); }
.g-search .gst ul { border: 1px solid #232323; position: relative; z-index: 1; overflow: hidden; background: #fff; border-radius: 0 0 2px 2px; *zoom: 1; }
.g-search .gst li { width: 100%; padding: 0; overflow: hidden; *float: left; }
.g-search .gst li a { display: block; padding: 7px 10px; overflow: hidden; color: #232323; _zoom: 1; }
.g-search .gst li a:hover { text-decoration: none; }
.g-search .gst em { float: right; color: #999; font-style: normal; }
.g-search .gst span { float: left; }
.g-search .gst .chosen a{ background:#ffebdd;}
/*.g-search .gst .chosen em { color: #fff; }*/

.g-search .search_hint { background: #ffe; padding: 5px; position: relative; z-index: 10000; overflow: hidden; }
.g-search .search_hint strong { color: #333; margin: 0 5px; font-weight: 700; }
.g-search .search_hint a { display: block; color: #000; _zoom: 1; }
.g-search .search_hint a:hover { text-decoration: none; }
.g-search .search_hint b { display: inline-block; width: 12px; height: 12px; margin: 0 5px 1px 0; vertical-align: middle; }
.g-search .search_user_hint { border-top: 1px solid #f7edc5; }
.g-search .search_user_hint b { width: 10px; margin-left: 2px; }
.g-search .search_item_hint b { background:url(/skin/__g/img/ui/nav/v2.png) 0 -374px no-repeat; }

.g-mini-search .gst { width: 226px; top: 22px; }
.g-mini-search .gst em { display: none; }
.g-bot .g-mini-search .gst { top: auto; left:0; bottom: 27px; box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.1); }
.g-bot .g-mini-search .gst ul { border-radius: 2px 2px 0 0; }

/* 用户栏 */
.g-user { position: absolute; top:45px; right: 180px; width: 220px; line-height: 22px; line-height: 25px\9; *line-height: 25px; color: #9fbfff;}
.g-user li { float: right; padding: 0 0 0 10px; position: relative; color: #9fbfff; }
.g-user li a { color: #cdffa1; }
.g-mini-user .g-user li a{ text-decoration: none; color: #4b4b4b; }
.g-user img { margin: 1px -5px 0 0; border-radius: 3px; position: relative; }
.g-user em { font-style: normal; }
.g-user b { float: left; width: 22px; height: 22px; margin: 0 3px 0 0; _margin-right: 0; }
.g-user .g-mytudou { margin-right: 7px; }
.g-user .g-mytudou b { background-position:  -97px -112px; }
.g-mytudou .handle a{display: inline-block; width: 62px;height: 20px; text-align:center; overflow: hidden;}
.g-mytudou .handle{ height: 20px; overflow: hidden;}
.g-user .g-viewlist .view_icon { background-position:  -120px -135px; }
.g-user .g-upload b { background-position: -91px -537px; }
.g-user .g-help b { background-position: -91px -554px; }
.g-user .handle { float: left; padding: 0 8px 0 0; background: url(/skin/__g/img/ui/nav/v2.png) right -240px no-repeat; _line-height: 25px; position: relative; z-index: 10004; }
.g-user .uname { margin-right: 3px; line-height: 24px\9; *line-height: 24px; }
.g-user .active b,
.g-mini-user .g-user b{background-position:  -120px -113px; }
.g-user .active a{color: #505050;}
.g-user .active .handle{background-position: right -257px;}
.g-mini-user .g-user .handle{background-position: right -320px;}
.g-user .active .view_icon,
.g-mini-user .g-user .view_icon{background-position: -97px -135px}

.g-user .xn b,
.g-user .sina b,
.g-user .qzone b,
.g-user .msn b,
.g-user .tweibo b,
.g-user .kaixin b,
.g-user .feixin b,
.g-user .youku b {background: url(/skin/__g/img/ui/nav/3rd.png) no-repeat;}
.g-user .xn b { background-position: -26px -77px; }
.g-user .sina b { background-position: -26px 1px; }
.g-user .qzone b { background-position: -26px -24px}
.g-user .msn b { background-position: -26px -50px; }
.g-user .tweibo b { background-position: -26px -104px; }
.g-user .kaixin b { background-position: -26px -133px; }
.g-user .feixin b { background-position: -26px -161px; }
.g-user .youku b { background-position: -26px -188px; }

.g-user .active .xn b,
.g-mini-user .g-user .xn b { background-position: 0 -77px; }
.g-user .active .sina b,
.g-mini-user .g-user .sina b  { background-position: 0 1px; }
.g-user .active .qzone b,
.g-mini-user .g-user .qzone b  { background-position: 0px -24px;}
.g-user .active .msn b,
.g-mini-user .g-user .msn b  { background-position: 0 -50px; }
.g-user .active .tweibo b,
.g-mini-user .g-user .tweibo b  { background-position: 0 -104px; }
.g-user .active .kaixin b,
.g-mini-user .g-user .kaixin b  { background-position: 0 -133px; }
.g-user .active .feixin b,
.g-mini-user .g-user .feixin b  { background-position: 0 -161px; }
.g-user .active .youku b,
.g-mini-user .g-user .youku b  { background-position: 0 -188px; }



.g-user-nav { display: none; position: absolute; top: -5px; left: 2px; z-index: 10002; }
.g-user-nav ul { width: 104px; padding: 29px 0 5px; border: 1px solid #d2d2d2; background: #fff; overflow: hidden; box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1); border-radius: 0 0 3px 3px; }
.g-user-nav li { float: left; width: 100%; padding: 0; line-height: 17px; overflow: hidden; }
.g-user-nav li a {display:block; height:25px; line-height:25px; padding-left:12px; text-indent: 6px; color: #505050; }
.g-user-nav li a:hover{background: #ffebdd;} 
.g-user-nav li.logout a{text-indent: 23px;}
.g-user-nav b{width: 14px; height: 14px; margin-top: 6px;}
.g-user-nav .i_0 b { background-position: -159px -510px; }
.g-user-nav .i_1 b { background-position: 1px -204px; }
.g-user-nav .i_2 b { background-position: -17px -203px; }
.g-user-nav .i_3 b { background-position: -34px -203px; }
.g-user-nav .i_4 b { background-position: -51px -204px; }
.g-user-nav .i_5 b { background-position: -67px -204px; }
.g-user-nav .i_6 b { background-position: -83px -204px; }
.g-user-nav .i_7 b { background-position: -100px -204px; }
.g-user-nav .i_8 b { background-position: -115px -204px; }
.g-user-nav .i_9 b { background-position: -130px -204px; }
.g-user-nav .i_10 b { background-position: -145px -204px; }
.g-user-nav .i_11 b { background-position: -160px -205px; }

.g-user-nav .i_0 a:hover b { background-position: -159px -528px; }
.g-user-nav .i_1 a:hover b { background-position: 1px -227px; }
.g-user-nav .i_2 a:hover b { background-position: -18px -226px; }
.g-user-nav .i_3 a:hover b { background-position: -34px -226px; }
.g-user-nav .i_4 a:hover b { background-position: -51px -226px; }
.g-user-nav .i_5 a:hover b { background-position: -67px -226px; }
.g-user-nav .i_6 a:hover b { background-position: -83px -226px; }
.g-user-nav .i_7 a:hover b { background-position: -100px -225px; }
.g-user-nav .i_8 a:hover b { background-position: -115px -226px; }
.g-user-nav .i_9 a:hover b { background-position: -130px -225px; }
.g-user-nav .i_10 a:hover b { background-position: -145px -225px; }
.g-user-nav .i_11 a:hover b { background-position: -160px -225px; }




/* 观看记录 */
.g-viewlist-nav { display: none; width: 212px; position: absolute; top: 24px; _top: 25px; left: -120px; z-index: 10003; border: 1px solid #d2d2d2; background: #fff; box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1); border-radius: 0 0 3px 3px; } 
.g-viewlist-nav .sub_tp { width: 87px; height: 29px; border: 1px solid #d2d2d2; border-bottom: 0; background: #fff; position: absolute; right: -1px; top: -30px;}
.g-viewlist-nav .sub_ft { height: 30px; line-height: 30px; text-align: right; background-color: #e8e8e8; padding: 0 8px; display: none;}
.g-viewlist-nav .sub_ft a { color: #000; text-decoration: underline; }
.g-viewlist-nav .sub_ft a:hover { color: #000 !important; text-decoration: none; }

.viewRecord_container { max-height: 306px; _height: expression(this.scrollHeight > 306 ? "306px" : "auto"); overflow: hidden; }
.viewRecord_notify { text-align: center; margin-bottom: 0; height: 60px; line-height: 60px; position: relative; }
.viewRecord_notify img { position: absolute; top: 50%; left: 50%; margin: -10px 0 0 -10px; }

.viewRecord_item { text-align: right; border-bottom: 1px solid #e8e8e8; padding: 5px 10px; height: 40px; overflow: hidden; }
.viewRecord_item .vr_row { color: #afafaf; line-height: 19px; overflow: hidden; zoom: 1; }
.viewRecord_item .info,
.viewRecord_item .vr_title { float: left; }
.viewRecord_item .vr_title { height: 19px; overflow: hidden; width: 160px; white-space: nowrap; text-align: left; }
/* fix 登录页, TODO vr_title */
.viewRecord_item .vr_title { padding: 0; font-size: 12px; }

.viewRecord_item .close { font-weight: bold; font-size: 16px; color: #c1c1c1; text-decoration: none; _font-size: 13px; }
.viewRecord_item .close:hover { color: #c1c1c1 !important; }
.viewRecord_item .continue { color: #404040; text-decoration: underline; }
.viewRecord_item .continue:hover { color: #404040 !important; text-decoration: none; }

.view_record .viewRecord_do { overflow: hidden; *zoom: 1; padding: 8px 10px; text-align: right; display: none; }
.view_record .viewRecord_do a,
.viewRecord_item .vr_title a { color: #404040; text-decoration: none; font-weight: normal; font-size: 12px; }
.viewRecord_item .vr_title a:hover { color: #404040! important; text-decoration: underline; }
.g-mini-user .g-user .viewRecord_do a {text-decoration: none;}

.view_record .import { float: left; }
.view_record a.save { width: 110px; height: 24px; line-height: 24px; text-align: center; overflow: hidden; color: #fff; display: block; background: url(/skin/__g/img/ui/nav/v2.png) no-repeat 0 -162px; margin: 0 auto; }
.view_record a.save:hover { color: #fff !important; text-decoration: none; }
.view_record .more { background: none; padding-right: 0; font-family: '\5b8b\4f53'; }
.g-mini-user .g-user li a.save{color: #fff;}

#viewRecordWrap a { text-shadow: none; }

.g-user .active .g-user-nav,
.g-user .active .g-viewlist-nav { display: block; }


/**
 * @path skin/__g/nav/v5/play.css
 * @version 27002
 * /Mini Nav 2012 Early/
 */
.g-mini { min-width: 980px; height: 34px; border-bottom: 1px solid #d3d3d3; background:#F4F4F4 url(/skin/__g/img/ui/nav/v2.png) 0 -388px repeat-x; clear: both; cursor: default; position: relative; z-index: 10000; }

.g-mini-main { width: 980px; margin: 0 auto; position: relative; }
.g-mini-main .logo { float: left; width: 80px; padding: 2px 0 0; }
.g-mini-main .logo a { display: block; height: 30px; text-indent: -9999px; background: url(/skin/__g/img/ui/nav/v2.png) 0 -426px no-repeat; }

.g-mini-nav { float: left; width: 248px; margin: 11px 0 0 15px; }
.g-mini-nav .g-link { overflow: visible; }
.g-mini-nav .g-link a { color: #4b4b4b; }
.g-mini-nav .g-link-more { padding-right: 8px; position: relative; line-height: 1.1\9; *line-height: 1.5; }

.g-mini-user { float: right; padding: 4px 4px 0; }
.g-mini .g-help { display: none; }
.g-mini .g-viewlist-nav { top: 24px; }
.g-mini-user .g-user{top: 7px;}
.g-mini-user .g-upload{ display: block; position: absolute; right: 0; top:4px; width:63px; height:27px; text-indent:-100px; overflow:hidden; background:url(/skin/__g/img/ui/nav/v2.png) 0 -510px no-repeat;}

/* 导航面包屑 */
.vcate { width: 980px; height: 14px; margin: 0 auto; padding: 11px 0; overflow: hidden; clear: both; position: relative; }
.vcate ul { width: 1200px; }
.vcate li { float: left; padding: 0 17px 0 10px; background: url(/skin/__g/img/ui/nav/v2.png) right -462px no-repeat; color: #808080; line-height: 13px; line-height: 15px\9; *line-height: 15px; }
.vcate a { color: #afafaf; }
.vcate a span { color: #afafaf; }
.vcate .last { background: none; }

/* 更多菜单 */
.g-link .active .g-more-nav { display: block; }
.g-link-more .handle { display: inline-block; padding: 0 9px 0 0; background: url(/skin/__g/img/ui/nav/v2.png) right -324px no-repeat; position: relative; z-index: 10003; _line-height: 19px; }
.g-more-nav { display: none; width: 215px; padding: 13px 0 0 12px; position: absolute; top: 22px; left: -1px; z-index: 10000; border: 1px solid #d2d2d2; background: #f7f7f7; box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1); border-radius: 0 0 3px 3px; }
.g-more-nav .more-top { width: 54px; height: 31px; border: 1px solid #d2d2d2; border-bottom: 0; background: #f7f7f7; position: absolute; left: -1px; top: -32px; box-shadow: 1px -3px 5px rgba(0, 0, 0, 0.03); }
.g-more-nav .more-item { padding: 0 0 6px; overflow: hidden; clear: both; }
.g-more-nav .more-item h3 { float: left; width: 45px; color: #4b4b4b; }
.g-more-nav .more-item ul { margin-left: 45px; _zoom: 1; }
.g-more-nav .more-item li { float: left; margin: 0; padding: 0 17px 11px 0; background: none; white-space: nowrap; overflow: hidden; }
.g-more-nav .more-item li.clear { float: none; _position: relative; _left: -3px; }

/**
 * @path skin/__g/pagination.css
 * @version 17450
 */
.page_nav {
	line-height: 18px;
	margin: 15px 0 0 0;
}
.page_nav {	overflow: hidden; zoom: 1;}
.page_nav a {
	display: block;
	color: #494949;
	background: #fff;
	text-decoration: none;
	border: 1px solid #ddd;
	padding: 0 4px;
}
.page_nav a { *line-height: 14px; *padding-top: 3px;*padding-bottom: 1px;} 
.page_nav a:hover {
	color: #f60;
	background-color: #eee;
}
.page_nav_prev, .page_nav_next {
	float: left;
	padding: 0 5px 0 0;
}
.page_nav_prev a {
	background: #fff url(/skin/__g/img/v_v10.png) 0 -390px;
	padding-left: 14px;
	width: 36px;
}
.page_nav_prev a { *background-position: 0 -391px;}
.page_nav_next a {
	background: #fff url(/skin/__g/img/v_v10.png) -30px -390px;
	padding-right: 14px;
	width: 36px;
}
.page_nav_next a { *background-position: -30px -390px;}
.page_nav_prev span {
	display: block;
	color: #999;
	background: url(/skin/__g/img/v_v10.png) 1px -390px;
	padding: 1px 5px 1px 15px;
}
.page_nav_prev span { *padding: 2px 5px 0 15px;  _padding: 0 5px 2px 15px; *background-position: 1px -390px;}
.page_nav_next span {
	display: block;
	color: #999;
	background: url(/skin/__g/img/v_v10.png) -29px -390px;
	padding: 1px 15px 1px 5px;
}
.page_nav_next span { *padding: 2px 15px 0 5px; _padding: 0 15px 2px 5px; *background-position: -29px -391px;}
.page_nav ul {
	float: left;
	padding: 0 5px 0 5px;
}
.page_nav ul li {
	float: left;
	margin: 0 5px 0 0;
}
.page_nav .page_nav_current {
	color: #f60;
	line-height: 20px;
	font-weight: bold;
	margin: 0 8px 0 5px;
}
.page_nav .page_nav_current { *line-height: 14px; *padding-top: 4px;*padding-bottom: 2px;}
.page_nav abbr {
	color: #999;
}
.page_nav .page_nav_jump {
	float: right;
	vertical-align: middle;
}
.page_nav .page_nav_jump input.text {
	width: 20px;
	padding: 1px;
}
.page_nav .page_nav_jump input.submit {
	background: url(/skin/__g/img/v_v10.png) -80px -370px;
	border: none;
	width: 32px;
	padding: 0 0 2px 2px;
	*padding: 2px 0 0 2px;
	height: 18px;
	text-align: center;
	cursor: pointer;	
}
/**
 * @path skin/__g/__g.css
 * @version 26933
 */
img{-ms-interpolation-mode: bicubic;}
.container, .row { zoom: 1;} .container:after,.row:after { content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.showcase { overflow: hidden;}
.showcase {_width: 100%; }
.showcase .item {float: left;}

#globalSwf { position: absolute; }

.lazyImg { background: #f8f8f8 url(http://css.tudouui.com/skin/__g/img/ui/pack/bg.png) center center no-repeat; }
.lazyContent { width: 0; height: 0; padding: 0; border: 0; overflow: hidden; font-size: 0; }

.pack { position: relative; line-height: 18px;}
.pack { overflow: hidden; zoom: 1;}
.pack * {word-wrap: break-word; word-break: break-all; }
.pack .pic { background: #f8f8f8 url(http://css.tudouui.com/skin/__g/img/ui/pack/bg.png) center center no-repeat; position: relative; }
.pack .pic a { background: url(about:blank); }
.pack a.inner {display: block;}
.pack .summary { text-align: justify;}
p.summary { margin-bottom: 0; text-justify: inter-ideograph; }
.pack.pack_video {}		/* 左图右字 较宽 */
.pack_video .pic {
	position:relative;
	float: left;
	border: 1px solid #ccc;
	padding: 4px;
}
.pack_video .pic .inner {
	width: 120px;
	height: 75px;
	overflow:hidden;
}
.pack_video .pic img.pack_clipImg {
	margin: -7px 0 0 0;
}
.pack_video .txt {
	margin: 2px 30px 0 150px;
}
.pack_video .caption {
	margin: 0;
	height: 18px;
	overflow: hidden;
}
.pack_video .summary {
	color: #7b7b7b;
	line-height: 21px;
	
	margin: 0 0 4px 0;
	
	height: 42px;
	overflow: hidden;
}
.pack_video .info {
	color: #a5a5a5;

	height: 18px;
	overflow: hidden;
}
		
.pack.pack_video_brief {}
.pack_video_brief .pic {		
	position:relative;
	float: left;
	border: 1px solid #c0c0c0;
	padding: 0;
}
.pack_video_brief .inner {
	width: 120px;
	height: 75px;
	overflow:hidden;
}
.pack_video_brief .pic img.pack_clipImg {
	margin: -7px 0 0 0;
}
.pack_video_brief .txt {
	margin: 2px 0 0 129px;
	*zoom: 1; /*IE下.txt会“继承”h3的下边距*/
}
.pack_video_brief .caption {
	margin: 0 0 2px 0;
	max-height: 36px;
	overflow: hidden;
}
.pack_video_brief .info {
}
.pack_video_brief ul.info li {
	margin: 0;
	overflow: hidden;
}

.pack_video_card {		/* 上图下字 较窄 */
	width: 122px;
	overflow: hidden;
}
.pack_video_card .pic {		
	position:relative;
	border: 1px solid #c0c0c0;
	padding: 0;
	_zoom: 1;
}
.pack_video_card .inner {
	width: 120px;
	height: 75px;
	overflow:hidden;
}
.pack_video_card .pic img.pack_clipImg {
	margin: -7px 0 0 0;
}
.pack_video_card .txt {
	padding: 4px 1px;
}
.pack_video_card .caption {
	margin: 0 0 2px 0;
	max-height: 36px;
	overflow: hidden;
}
.pack_video_card .caption a.prefix {
	color: #f60;
}
.pack_video_card ul.info li {
	margin: 0;
	height: 18px;
	overflow: hidden;
	white-space: nowrap;
}

.zt_video .caption { background: url(img/ui/pack/i_v6.png) 0 -179px no-repeat; *background-position: 0 -180px; text-indent: 31px; }

.g_vip1, .g_vip2, .g_vip3 { display: inline; padding: 0 8px; line-height: 17px; background: url(img/ui/pack/i_v6.png) 1px -201px no-repeat; *height: 15px; *width: 16px; *display: inline-block; *padding: 0; }
.g_vip1:after, .g_vip2:after, .g_vip3:after { font-size: 0; content: '.'; } /* for chrome */
.g_vip2 {background-position: 1px -240px;}
.g_vip3 {background-position: 1px -281px;}

.hd360 .caption,
.hd480 .caption,
.hd720 .caption { background: url(img/ui/pack/i_v6.png) -120px -198px no-repeat; *background-position: -120px -199px; text-indent:17px; _zoom: 1; }
.hd480 .caption { background-position: -120px -238px; *background-position: -120px -239px; }
.hd720 .caption { background-position: -120px -278px; *background-position: -120px -279px; }

.pack .vpay { width: 49px; height: 49px; background: url(img/ui/pack/i_v6.png) -60px -103px no-repeat; position: absolute; bottom: -1px;  right: -1px; cursor: pointer; }
.pack .vhd360,
.pack .vhd480,
.pack .vhd720 { width: 41px; height: 16px; background: url(img/ui/pack/i_v6.png) -70px -200px no-repeat; position: absolute; top: 6px;  left: -1px; cursor: pointer; }
.pack .vhd480 { background-position: -70px -240px; }
.pack .vhd720 { background-position: -70px -280px; }

/* play and comment counts */
.pack .d_nums span { font-size: 11px; cursor: default; }
.pack .d_nums .d_play { padding: 0 7px 0 15px; background: url(img/ui/pack/i_v6.png) -119px -108px no-repeat; }
.pack .d_nums .d_cmt { padding: 0 0 0 19px; background: url(img/ui/pack/i_v6.png) -118px -128px no-repeat; }

/* black transparent layer */
.pack .pic .vpbg { width: 132px; height: 20px;  background: #000; opacity: 0.6; filter: alpha(opacity = 60); position: absolute; left: 0; bottom: 0; }
.pack_plist_card .pic .vpbg,
.pack_plist_brief .pic .vpbg { width: 128px; left: 0; bottom: 4px; }
.pack_playlist_card .pic .vpbg,
.pack_playlist_brief .pic .vpbg { width: 128px; left: 1px; bottom: 5px; }
.pack .pic .vinf { width: 127px; height: 20px; padding: 0 0 0 5px; line-height: 21px; overflow: hidden; position: absolute; bottom: 0; left: 0; margin: 0; color: #fff; text-decoration: none }
.pack_plist_card .pic .vinf,
.pack_plist_brief .pic .vinf { width: 123px; left: 0; bottom: 4px; }
.pack_playlist_card .pic .vinf,
.pack_playlist_brief .pic .vinf { width: 123px; left: 1px; bottom: 5px; }
/* IE6 1px gap fix */
* .pack .pic .vpbg,
* .pack .pic .vinf { _bottom: -1px; }
* .pack_plist_card .pic .vpbg,
* .pack_plist_card .pic .vinf,
* .pack_plist_brief .pic .vpbg,
* .pack_plist_brief .pic .vinf { _bottom: 3px; }
* .pack_playlist_card .pic .vpbg,
* .pack_playlist_card .pic .vinf,
* .pack_playlist_brief .pic .vpbg,
* .pack_playlist_brief .pic .vinf { _bottom: 4px; }

/* 2012 new playlist pack */
.pack.pack_plist_card { width: 132px; }
.pack_plist_card .pic,
.pack_plist_brief .pic { width: 128px; height: 95px; padding: 0 4px 4px 0; background: url(/skin/__g/img/ui/pack/i_v6.png) 0 -400px no-repeat; }
.pack_plist_card .inner, 
.pack_plist_brief .inner { width: 128px; height: 95px; overflow: hidden; position: relative; }
.pack_plist_card .pic img.pack_listImg,
.pack_plist_brief .pic img.pack_listImg { margin: -2px 0 0 -2px; }
.pack_plist_brief .txt { margin: 2px 0 0 140px; }
.pack_plist_card .txt { padding: 5px 0; }
.pack_plist_card ul.info li { height: 18px; margin: 0; overflow: hidden; white-space: nowrap; }
.pack_plist_card .caption { height: 18px; overflow: hidden; }


.pack.pack_playlist {}
.pack_playlist .pic {		
	position:relative;
	float: left;
	
	background:transparent url(img/v_v10.png) no-repeat 0 -435px;
	padding: 3px 3px 3px 7px;
}
.pack_playlist .pic .inner {
	
	width: 112px;
	height: 71px;

	overflow:hidden;
}
.pack_playlist .pic img.pack_listImg {
	margin: -9px 0 0 -3px;
}
.pack_playlist .txt {
	margin: 0 0 0 129px;
}
.pack_playlist .caption {
	margin: 0 0 2px 0;

	height: 18px;
	overflow: hidden;
}
.pack_playlist .author {			
	color: #a5a5a5;
		
	margin: 0 0 3px 0;
	height: 18px;
	overflow: hidden;
}
.pack_playlist .summary {
	color: #7b7b7b;
	
	padding: 0 220px 0 0;
	margin: 0 0 3px 0;

	height: 18px;
	overflow: hidden;
}
.pack_playlist .info {
	color: #a5a5a5;
}
.pack_playlist .extra {
	position: absolute;
	top: 0;
	right: 0;
	width: 180px;
}
.pack_playlist .extra li {
	margin: 0 0 2px 0;

	height: 18px;
	overflow: hidden;
	white-space: nowrap;
}

.pack.pack_playlist_brief {}	/* 左图右字 适用于窄栏 */
.pack_playlist_brief .pic {		
	position:relative;
	float: left;
	
	background:transparent url(img/v_v10.png) no-repeat 0 -435px;
	padding: 3px 3px 3px 7px;
}
.pack_playlist_brief .inner {
	width: 112px;
	height: 71px;
	overflow:hidden;
}
.pack_playlist_brief .pic img.pack_listImg {
	margin: -9px 0 0 -3px;
}
.pack_playlist_brief .txt {
	margin: 2px 0 0 129px;
	*zoom: 1; /*IE下.txt会“继承”h3的下边距*/
}
.pack_playlist_brief .caption {
	margin: 0 0 2px 0;			
	max-height: 36px;
	overflow: hidden;
}
.pack_playlist_brief .info {
}
.pack_playlist_brief ul.info li {
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
}
.pack_playlist_brief ul.info li { _white-space: normal; }

.pack.pack_playlist_card {		/* 上图下字 */
	width: 122px;
	overflow: hidden;
}
.pack_playlist_card .pic {		
	position:relative;
	
	background:transparent url(img/v_v10.png) no-repeat 0 -435px;
	padding: 3px 3px 3px 7px;
}
.pack_playlist_card .inner {
	width: 112px;
	height: 71px;
	overflow:hidden;
}
.pack_playlist_card .pic img.pack_listImg {
	margin: -9px 0 0 -3px;
}
.pack_playlist_card .txt {
	padding: 4px 1px;
}
.pack_playlist_card .caption {
	margin: 0 0 2px 0;
	max-height: 36px;
	overflow: hidden;
	/*	playlist card的标题允许两行	*/
}
.pack_playlist_card .info {
}
.pack_playlist_card ul.info li {
	margin: 0;
	height: 18px;
	overflow: hidden;
	white-space: nowrap;
}
.pack_playlist_card .action a {
	color: #f60;
	background:url(img/v_v10.png) no-repeat 0 -520px;
	padding-left: 15px;
}
/* 上图下字 */
.pack.pack_user_card {		
	width: 90px;
	
	overflow: hidden;
}
.pack_user_card .pic {
			
	border: 1px solid #ccc;
	padding:3px;
}
.pack_user_card .inner {
	width: 82px;
	height: 82px;
	overflow:hidden;
}
.pack_user_card .pic img {
	width: 82px;
	height: 82px;
}
.pack_user_card .txt {
	padding: 5px 3px;
}
.pack_user_card .caption {
	margin: 0 0 4px 0;
	
	height: 18px;
	overflow: hidden;
	white-space: nowrap;
}
.pack_user_card .info {
}
.pack_user_card ul.info li {
	margin: 0 0 3px 0;

	height: 18px;
	overflow: hidden;
}

